/* ==========================================================================
   Colors
   ========================================================================== */

$bg: #FCF9F5;
$orange: #ffae41;
$hover: #f1f1f1;
$text: #666666;

/* ==========================================================================
   Helpers & Mixins
   ========================================================================== */

@mixin prefix ( $property, $value ) {
  -webkit-#{$property}: $value;
     -moz-#{$property}: $value;
      -ms-#{$property}: $value;
       -o-#{$property}: $value;
          #{$property}: $value;
}

@mixin animation($args...) {
  @include prefix( animation, $args... );
}

@mixin transform($args...) {
  @include prefix( transform, $args... );
}
@mixin transform-origin($args...) {
  @include prefix( transform-origin, $args... );
}

@mixin box-shadow($args) {
  @include prefix( box-shadow, $args );
}

@mixin accelerate {
  // Enable 3D transforms, activating hardware acceleration
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  // Fixing flickering bug
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  // Some bug fix, I forget why this is in here.
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;
}

@mixin filter($args) {
  -webkit-filter: $args;
  -moz-filter: $args;
  -o-filter: $args;
  -ms-filter: $args;
  filter: $args;
}

@mixin box-sizing($value:border-box) {
  // Box sizing makes padding and margins inclusive of declared width/height
  @include prefix( box-sizing, $value );
}

@mixin background-image-retina($file, $type, $width, $height) {
  // If on retina device, load retina image as background.
  background-image: url($file + '.' + $type);
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
    }
  }
}

@mixin transition($args...) {
  @include prefix( transition, $args... );
}

@mixin transform($args...) {
  @include prefix( transform, $args... );
}

.opaque {opacity:1;}
.left {float:left !important;}
.right {float:right !important;}

.smallcaps {
    font-family:"ratio";
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:.2em;
    font-size:12px;
}

/* ==========================================================================
   Global styles
   ========================================================================== */


body,html {
  margin:0;
  padding:0;
  height:100%;
  min-height:100%;
}
body {
  background:$bg;
  overflow:hidden;
}
.bg {
  position:absolute;
  width:100%;
  height:100%;
  z-index:-2;
  top:0;
  left:0;
}
.bg-image {
  /* Positioning */
  position:absolute;
  width:20%;
  height:20%;
  z-index:-2;
  top:0;
  left:0;

  /* Presentation */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  opacity:0.9;

  /* Animation */
  @include accelerate;
  @include filter(grayscale(10%) blur(12px));
  @include transform-origin(top left);
  @include transform(scale(5));
  filter:(url(/img/blur.svg#blur));
}

  .nav {
    /* Positioning */
    position:absolute;
    top:0;
    left:50%;
    width:48px;
    height:100%;
    margin-left:-24px;
    z-index:0;
    overflow:hidden;

    .nav-up,.nav-dn {
      /* Positioning */
      position:absolute;
      @include box-sizing;
      height:48px;
      width:48px;

      /* Display & Box Model */
      display:block;

      /* Presentation */
      background:transparent url(/img/arrow.svg) center no-repeat;
      border:1px solid $orange;
      overflow:hidden;
      border-radius:24px;

      /* Font */
      text-indent:-999em;
    }
    .nav-up {
      top:-48px;
    }
    .nav-dn {
      bottom:-48px;
      @include transform(rotate(180deg));
    }
  }

#login-buttons{
  position:absolute;
  right:20px;
  z-index:999
}

/* ==========================================================================
   Journal
   ========================================================================== */
  /* Positioning */
  /* Display & Box Model */
  /* Presentation */
  /* Font */
  /* Animation */

.dummy {
  /* Positioning */
  position:absolute;
  width:100%;
  height:auto;
  left:-99999px;

  /* Display & Box Model */
  display:block;
  @include box-sizing;
  margin:40px 0;
  padding:0 20px;

  /* Presentation */
  background:red;
  outline:none;

  /* Font */
  color:$text;
  font-family:"ratio";
  font-weight:300;
  font-size:42px;
}

#journal {
  /* Positioning */
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;

  /* Display & Box Model */
  display:block;
  @include box-sizing;
  border:20px solid #ffffff;

  /* Presentation */
  color:$text;
  overflow:hidden;
  @include transition(left .5s);

  textarea {
    /* Positioning */
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;

    /* Display & Box Model */
    display:block;
    @include box-sizing;
    margin:40px 0;
    padding:0 20px;

    /* Presentation */
    background:transparent;
    opacity:0;
    resize:none;
    border:none;
    outline:none;

    /* Font */
    color:inherit;
    font-family:"ratio";
    font-weight:300;
    font-size:42px;
    &::-webkit-input-placeholder  {opacity:.5 !important;}
    &:-moz-placeholder            {opacity:.5 !important;} /* Firefox 18- */
    &::-moz-placeholder           {opacity:.5 !important;} /* Firefox 19+ */
    &:-ms-input-placeholder       {opacity:.5 !important;}  

    /* Animation */
    @include accelerate;
    @include transition(padding .8s,opacity 2s);
  }

  .media {
    /* Positioning */
    position:absolute;
    bottom:10px;
    right:10px;
    z-index:2;

    .media-image {
      /* Positioning */
      width:16px;
      height:16px;

      /* Display & Box Model */
      display:block;

      /* Presentation */
      text-indent:-9999em;
      overflow:hidden;
      @include background-image-retina('/img/icons', 'png', 96px, 32px);
      background-position:0 0;
      opacity:.25;

      @include transition(opacity .25s);

      &:hover {opacity:.5;}

      &.attached{opacity:.75;background-position:0 -16px;}
      &.attached:hover{opacity:1}
    }
  }

  .controls {
    /* Positioning */
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:2;

    /* Display & Box Model */
    @include box-sizing;
    padding:20px;

    .controls-menu {
      /* Positioning */
      float:left;
      height:36px;
      // max-width:36px;

      /* Display & Box Model */
      display:block;
      @include box-sizing;
      padding:0 0 0 36px;

      /* Presentation */
      background:#ffffff;
      overflow:hidden;

      @include transition(max-width 1s);

      .controls-menu-date {

      /* Positioning */
      float:left;
      height:36px;

      /* Display & Box Model */
      display:block;
      @include box-sizing;
      padding:10px 16px;

      /* Presentation */
      background:$hover;

      /* Font */
      color:$text;
      font-family:"ratio";
      font-weight:400;
      text-transform:uppercase;
      letter-spacing:.2em;
      font-size:12px;
      text-decoration:none;

      }
      &:hover {
        // max-width:300px;
      }
    }

    .controls-save {
      /* Positioning */
      float:right;
      height:36px;
      width:100px;

      /* Display & Box Model */
      display:block;
      @include box-sizing;
      padding:10px 0 0;
      margin:0 0 0 10px;

      /* Presentation */
      background:$orange;

      /* Font */
      color:#ffffff;
      font-family:"ratio";
      font-weight:400;
      text-transform:uppercase;
      letter-spacing:.2em;
      font-size:12px;
      text-align:center;
      text-decoration:none;
    }
    .controls-share {
      /* Positioning */
      float:right;
      height:36px;
      width:36px;

      /* Display & Box Model */
      @include box-sizing;
      display:block;

      /* Presentation */
      background:#ffffff;
      overflow:hidden;

      /* Font */
      text-indent:-9999em;
    }
    .controls-share-icon {
      /* Positioning */
      height:20px;
      width:21px;
      margin-left:4px;
      margin-top:7px;
      opacity:.2;
      @include background-image-retina('/img/lock', 'png', 399px, 20px);
      @include transition(margin-left .8s);
    }
    .controls-share-icon.lock {
      @include animation(lock .4s steps(18) 1);
      background-position:0 0 !important;
    }
    .controls-share-icon.unlock {
      @include animation(unlock .4s steps(19) 1);
      background-position:-378px 0 !important;
      margin-left:8px;
    }

  }

}

@-webkit-keyframes unlock {
   from { background-position:    0px; }
     to { background-position: -399px; }
}
@-webkit-keyframes lock {
   from { background-position: -378px; }
     to { background-position:    0px; }
}
@-ms-keyframes unlock {
   from { background-position:    0px; }
     to { background-position: -399px; }
}
@-ms-keyframes lock {
   from { background-position: -378px; }
     to { background-position:    0px; }
}
@-o-keyframes unlock {
   from { background-position:    0px; }
     to { background-position: -399px; }
}
@-o-keyframes lock {
   from { background-position: -378px; }
     to { background-position:    0px; }
}
@-moz-keyframes unlock {
   from { background-position:    0px; }
     to { background-position: -399px; }
}
@-moz-keyframes lock {
   from { background-position: -378px; }
     to { background-position:    0px; }
}
@-keyframes unlock {
   from { background-position:    0px; }
     to { background-position: -399px; }
}
@-keyframes lock {
   from { background-position: -378px; }
     to { background-position:    0px; }
}


/* ==========================================================================
   Sidebar
   ========================================================================== */
  /* Positioning */
  /* Display & Box Model */
  /* Presentation */
  /* Font */
  /* Animation */

#sidebar {
  /* Positioning */
  position:absolute;
  width:240px;
  height:100%;
  left:-270px;
  top:0;
  z-index:3;

  /* Display & Box Model */
  @include box-sizing;
  margin:0;
  padding:0;

  /* Presentation */
  @include box-shadow(0px 0px 30px rgba(0,0,0,0.25));

  /* Font */
  /* Animation */
  @include transition(left .5s);
}
.sidebar-menu {
  /* Positioning */
  width:240px;
  height:100%;
  top:0;
  left:0;
  /* Display & Box Model */
  display:block;
  margin:0;
  padding:0;
  /* Presentation */
  background:#ffffff;
  /* Font */
  /* Animation */

  > li {
    /* Positioning */
    width:80px;
    height:80px;
    float:left;
    /* Display & Box Model */
    @include box-sizing;
    display:block;
    /* Presentation */
    list-style:none;
    /* Font */
    /* Animation */

    [type=radio] {
      display: none;   
    }

    [type=radio]:checked ~ label {
      background: white;
      border-bottom: 1px solid white;
      z-index: 2;
    }
    [type=radio]:checked ~ label ~ .content {
      z-index: 1;
    }
    [type=radio]:checked ~ label ~ .content > * {
      opacity: 1;
      
      -webkit-transform: translateX(0);
      -moz-transform:    translateX(0);
      -ms-transform:     translateX(0);
      -o-transform:      translateX(0);
    }

    label {
      /* Positioning */
      width:100%;
      height:100%;

      /* Display & Box Model */
      display:block;
      @include box-sizing;

      /* Presentation */
      background:$hover;
      cursor:pointer;

      /* Font */
      line-height:80px;
      text-align:center;
      font-family:"ratio";
      color:lighten($text,20%);
      text-transform:uppercase;
      font-size:12px;
      letter-spacing:.2em;

      /* Animation */
      &:hover {background:darken($hover,4%);}
      &:target {background:#ffffff;}
    }
    .content {
      /* Positioning */
      position: absolute;
      top: 80px;
      left: 0;
      width:240px;
      right: 0;
      bottom: 0;
      padding: 20px;

      /* Display & Box Model */
      @include box-sizing;
      list-style:none;
      margin:0;
      padding:0;

      /* Presentation */
      background: white;
      overflow-x: hidden;
      overflow-y:scroll;

      /* Font */
      /* Animation */
      > li {
        display:block;
        list-style:none;
        width:100%;
      }
    }
  }
}

li.sidebar-menu-sub-list-week {
  /* Positioning */

  /* Display & Box Model */
  display:block;
  @include box-sizing;
  list-style:none;
  margin:0;
  padding:0;

  /* Presentation */

  /* Font */

  /* Animation */

  > a {   
    /* Positioning */
    /* Display & Box Model */
    display:block;
    padding:10px;
    /* Presentation */
    /* Font */
    text-align:center;
    font-family:"ratio";
    color:lighten($text,20%);
    font-weight:300;
    text-transform:uppercase;
    font-size:16px;
    text-decoration:none;

    /* Animation */
  }

  > ul {
    /* Positioning */

    /* Display & Box Model */
    display:block;
    @include box-sizing;
    list-style:none;
    margin:0;
    padding:0;


    > li {
      a {
        margin:5px;
        /* Positioning */
        /* Display & Box Model */
        display:block;
        padding:10px 20px;
        /* Presentation */
        /* Font */
        font-family:"ratio";
        color:lighten($text,40%);
        font-weight:300;
        text-transform:uppercase;
        font-size:16px;
        text-decoration:none;
        letter-spacing:.1em;
        /* Animation */
        @include transition(color .2s);

        &.story {
          color:lighten($text,10%);
        }

        &:hover {
          color:$orange;
        }

        &.active {
          /* Positioning */
          /* Display & Box Model */
          /* Presentation */
          background:$orange;
          /* Font */
          color:#ffffff;
          font-size:16px;

          /* Animation */
        }

      }

      .hasImg {
        /* Positioning */
        float:right;
        width:16px;
        height:16px;

        /* Display & Box Model */
        display:block;
        margin-top:2px;

        /* Presentation */
        text-indent:-9999em;
        overflow:hidden;
        @include background-image-retina('/img/icons', 'png', 96px, 32px);
        background-position:0 -16px;

        &.active {background-position:0 0; @include filter(invert(100%));}
      }

    }
  }
}
li.sidebar-menu-sub-list-week.prev,li.sidebar-menu-sub-list-week.next {
  /* Positioning */
  left:0;
  width:100%;
  /* Display & Box Model */
  @include box-sizing;
  /* Presentation */
  overflow:hidden;
  /* Font */
  /* Animation */
  z-index:1;

  a{
  /* Display & Box Model */
  @include box-sizing;
  background:$hover;
  margin:15px;
  padding:10px 20px;
  font-size:14px;
  &:hover {
  background:darken($hover,5%);

  }
  }
}