$bg: #FCF9F5;
$orange: #ffae41;
$hover: #f1f1f1;

@mixin accelerate {
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -o-transform: translateZ(0);
        -ms-transform: translateZ(0);

        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        -ms-backface-visibility: hidden;

        perspective: 1000;
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -o-perspective: 1000;
        -ms-perspective: 1000;
}

@mixin smallcaps {
  font-family:"Proxima Nova";
  font-size:13px;
  font-weight:300;
  text-transform:uppercase;
  letter-spacing:1px;
}

@keyframes bgscroll {
  from { background-position: 100% 0; }
  to { background-position: 0 0; }
}
@-webkit-keyframes bgscroll {
  from { background-position: 100% 0; }
  to { background-position: 0 0; }
}

@-moz-keyframes bgscroll {
  from { background-position: 100% 0; }
  to { background-position: 0 0; }
}

@-ms-keyframes bgscroll {
  from { background-position: 100% 0; }
  to { background-position: 0 0; }
}

@-o-keyframes bgscroll {
  from { background-position: 100% 0; }
  to { background-position: 0 0; }
}

@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);
 
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
    }
  }
}



body,html {
  margin:0;
  padding:0;
  height:100%;
  min-height:100%;
}

h1 {
  display:block;
  margin:0 auto;
  width:202px;
  height:94px;
  background:url(/img/besterday.svg);
  text-indent:-999em;
  overflow:hidden;
}

body {
  background:$bg;
  overflow:hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text],input[type=password],textarea {
    padding:10px 8px;
    border:1px solid #ffffff;
    background:#ffffff;
    resize: none; 
    outline:none;
    &:active,&:focus {
      border-color:$orange;
    }
}

button {
  @include smallcaps;
}

// button.disabled {
//   pointer-event:none;
// }

// .disable-cover {
//   z-index:9999999;
//   display:none;
//   position:fixed;
//   width:100%;
//   height:100%;
//   top:0;
//   left:0;
//   background:#ffffff;
//   opacity:.8;
// }

#login-buttons {
  position:absolute;
  z-index:2;
  width:100%;
  height:44px;
  background:#ffffff;
  top:0;
  .login-link-and-dropdown-list {
    @include smallcaps;
    display:block;
    width:auto;
    height:14px;
    padding:15px 20px;
    float:right;
    position:relative;
    background:lighten($hover,3%); 
    ul {
      display:none;
      position:absolute;
      top:44px;
      right:0;
      margin:0;
      padding:0;
      list-style:none;
      li {
        display:block;
        margin:0;
        padding:0;
        a {
          background:$orange; 
          color:#ffffff;
          display:block;
          width:75px;
          text-align:right;
          padding:15px 20px;
          margin:0;
          text-decoration:none;
          &:hover {
            background:darken($orange,5%);
          }
          &:active {
            padding:16px 20px 14px;
            background:darken($orange,8%);
          }
        }
      }
    }
  }
  .account-uid:hover {
    background:$hover; 
    ul {
      display:block;
    }
  }
  #login-dropdown-list {
    position:relative;
  }
}

#login { 
  width:100%;
  height:100%;
  text-align:center;
  display:block;
  position:relative;
  overflow:hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border:16px solid $bg;
  border-top:none;
  .inner {
    height:280px;
    position:absolute;
    top:55%;
    margin:-140px auto 0;
    width:100%;
  }
}

#journal {
  width:100%;
  height:100%;
  text-align:center;
  display:block;
  position:relative;
  overflow:hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border:16px solid #ffffff;
  border-top:none;
  .inner {
    height:280px;
    position:absolute;
    top:55%;
    margin:-140px auto 0;
    width:100%;
  }

  label {
    -webkit-transition:color .5s ease-in;
    -moz-transition:color .5s ease-in;
    -o-transition:color .5s ease-in;
    transition:color .5s ease-in;
  }

  a.prev,a.next {
    position:absolute;
    display:block;
    background:#ffffff;
    width:100px;
    height:100px;
    border-radius:50px;
    text-indent:-9999em;
    overflow:hidden;
    top:50%;
    margin-top:-50px;
    &:hover {background:$orange;}
    &:active {margin-top:-49px;background:darken($orange,5%);}
  }
  a.prev {left:-50px;}
  a.next {right:-50px;}

  label {
    margin:0px 0 30px 0;
    display:block;
    @include smallcaps;
    em {
      font-style:normal;
      font-weight:700;
      text-decoration:underline;
      cursor:pointer;
    }
  }
  .journal-input {
    position:relative;
    margin:0 auto;
    padding:0;
    width:462px;
    height:146px;
  }
  textarea {
    color:#666666;
    position:relative;
    letter-spacing:.1em;
    line-height:26px;
    font-size:16px;
    display:block;
    margin:0 auto;
    padding:12px 20px;
    width:420px;
    height:120px;
    border:1px solid #ffffff;
    background:url(/img/story-bg.gif) #ffffff;
  }
  .loading-cover {
    z-index:2;
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url(/img/load.png); 
-webkit-animation:bgscroll 50s infinite linear;
   -moz-animation:bgscroll 50s infinite linear;
    -ms-animation:bgscroll 50s infinite linear;
     -o-animation:bgscroll 50s infinite linear;
        animation:bgscroll 50s infinite linear;
  }

  .social-icons a {
    position:absolute;
    display:block;
    width:16px;
    height:16px;
    text-indent:-9999em;
    overflow:hidden;
    opacity:.25;
    bottom:10px;
    @include background-image-retina('/img/icons', 'png', 96px, 32px);
    &.upload   {
      background-position:0 0; right:10px;
      &.attached{opacity:1;background-position:0 -16px;}
      &.attached:hover{background-position:-16px -16px; opacity:.8}
    }
    &.facebook {
      background-position:-48px 0; 
      right:31px;
      &.active{background-position:-48px -16px; opacity:1;}
    }
    &.twitter  {
      background-position:-32px 0; 
      right:52px;
      &.active{background-position:-32px -16px; opacity:1;}
    }

    &:hover{opacity:.5}
    &:active{margin-top:1px;}
  }
  // .upload {
  //   position:relative;
  //   margin:-26px auto 26px auto;
  //   left:212px;
  //   display:block;
  //   width:16px;
  //   height:16px;
  //   text-indent:-9999em;
  //   overflow:hidden;
  //   opacity:.25;
  //   @include background-image-retina('/img/camera', 'png', 32px, 32px);
  // }
}

.bg-image {
    position:absolute;
    z-index:-1;
    width:100%;
    height:100%;
    background:#222222 center center fixed;
    opacity:0.9;
    background-size: cover;
    @include accelerate;
-webkit-filter: grayscale(10%) blur(8px);
-moz-filter: grayscale(10%) blur(8px);
-o-filter: grayscale(10%) blur(8px);
-ms-filter: grayscale(10%) blur(8px);
filter: grayscale(10%) blur(8px);
// -webkit-filter: blur(8px);
// -moz-filter: blur(8px);
// -o-filter: blur(8px);
// -ms-filter: blur(8px);
// filter: blur(8px);

}