/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
   Helpers & Mixins
   ========================================================================== */
.opaque {
  opacity: 1; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.smallcaps {
  font-family: "ratio";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 12px; }

/* ==========================================================================
   Global styles
   ========================================================================== */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%; }

body {
  background: #fcf9f5;
  overflow: hidden; }

.bg-image {
  /* Positioning */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  /* Presentation */
  background: center center fixed;
  background-size: cover;
  opacity: 0.9;
  /* Animation */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;
  -webkit-filter: grayscale(10%) blur(12px);
  -moz-filter: grayscale(10%) blur(12px);
  -o-filter: grayscale(10%) blur(12px);
  -ms-filter: grayscale(10%) blur(12px);
  filter: grayscale(10%) blur(12px); }

.nav {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 50%;
  width: 48px;
  height: 100%;
  margin-left: -24px;
  z-index: 0;
  overflow: hidden; }
  .nav .nav-up, .nav .nav-dn {
    /* Positioning */
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 48px;
    width: 48px;
    /* Display & Box Model */
    display: block;
    /* Presentation */
    background: transparent url(/img/arrow.svg) center no-repeat;
    border: 1px solid #ffae41;
    overflow: hidden;
    border-radius: 24px;
    /* Font */
    text-indent: -999em; }
  .nav .nav-up {
    top: -48px; }
  .nav .nav-dn {
    bottom: -48px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

#login-buttons {
  position: absolute;
  right: 20px;
  z-index: 999; }

/* ==========================================================================
   Journal
   ========================================================================== */
/* Positioning */
/* Display & Box Model */
/* Presentation */
/* Font */
/* Animation */
.dummy {
  /* Positioning */
  position: absolute;
  width: 100%;
  height: auto;
  left: -99999px;
  /* Display & Box Model */
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 40px 0;
  padding: 0 20px;
  /* Presentation */
  background: red;
  outline: none;
  /* Font */
  color: #666666;
  font-family: "ratio";
  font-weight: 300;
  font-size: 42px; }

#journal {
  /* Positioning */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* Display & Box Model */
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 20px solid #ffffff;
  /* Presentation */
  color: #666666;
  overflow: hidden;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s; }
  #journal textarea {
    /* Positioning */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Display & Box Model */
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 40px 0;
    padding: 0 20px;
    /* Presentation */
    background: transparent;
    opacity: 0;
    resize: none;
    border: none;
    outline: none;
    /* Font */
    color: inherit;
    font-family: "ratio";
    font-weight: 300;
    font-size: 42px;
    /* Firefox 18- */
    /* Firefox 19+ */
    /* Animation */
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    perspective: 1000;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    -ms-perspective: 1000;
    -webkit-transition: padding 0.8s;
    -moz-transition: padding 0.8s;
    -ms-transition: padding 0.8s;
    -o-transition: padding 0.8s;
    transition: padding 0.8s; }
    #journal textarea::-webkit-input-placeholder {
      opacity: .5; }
    #journal textarea:-moz-placeholder {
      opacity: .5; }
    #journal textarea::-moz-placeholder {
      opacity: .5; }
    #journal textarea:-ms-input-placeholder {
      opacity: .5; }
  #journal .media {
    /* Positioning */
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2; }
    #journal .media .media-image {
      /* Positioning */
      width: 16px;
      height: 16px;
      /* Display & Box Model */
      display: block;
      /* Presentation */
      text-indent: -9999em;
      overflow: hidden;
      background-image: url("/img/icons.png");
      background-position: 0 0;
      opacity: .25;
      -webkit-transition: opacity 0.25s;
      -moz-transition: opacity 0.25s;
      -ms-transition: opacity 0.25s;
      -o-transition: opacity 0.25s;
      transition: opacity 0.25s; }
      @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        #journal .media .media-image {
          background-image: url("/img/icons@2x.png");
          -webkit-background-size: 96px 32px; } }
      #journal .media .media-image:hover {
        opacity: .5; }
      #journal .media .media-image.attached {
        opacity: .75;
        background-position: 0 -16px; }
      #journal .media .media-image.attached:hover {
        opacity: 1; }
  #journal .controls {
    /* Positioning */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    /* Display & Box Model */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px; }
    #journal .controls .controls-menu {
      /* Positioning */
      float: left;
      height: 36px;
      /* Display & Box Model */
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 0 0 36px;
      /* Presentation */
      background: #ffffff;
      overflow: hidden;
      -webkit-transition: max-width 1s;
      -moz-transition: max-width 1s;
      -ms-transition: max-width 1s;
      -o-transition: max-width 1s;
      transition: max-width 1s; }
      #journal .controls .controls-menu .controls-menu-date {
        /* Positioning */
        float: left;
        height: 36px;
        /* Display & Box Model */
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px 16px;
        /* Presentation */
        background: #f1f1f1;
        /* Font */
        color: #666666;
        font-family: "ratio";
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .2em;
        font-size: 12px;
        text-decoration: none; }
    #journal .controls .controls-save {
      /* Positioning */
      float: right;
      height: 36px;
      width: 100px;
      /* Display & Box Model */
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px 0 0;
      margin: 0 0 0 10px;
      /* Presentation */
      background: #ffae41;
      /* Font */
      color: #ffffff;
      font-family: "ratio";
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: .2em;
      font-size: 12px;
      text-align: center;
      text-decoration: none; }
    #journal .controls .controls-share {
      /* Positioning */
      float: right;
      height: 36px;
      width: 36px;
      /* Display & Box Model */
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      /* Presentation */
      background: #ffffff;
      overflow: hidden;
      /* Font */
      text-indent: -9999em; }

/* ==========================================================================
   Sidebar
   ========================================================================== */
/* Positioning */
/* Display & Box Model */
/* Presentation */
/* Font */
/* Animation */
#sidebar {
  /* Positioning */
  position: absolute;
  width: 240px;
  height: 100%;
  left: -270px;
  top: 0;
  z-index: 3;
  /* Display & Box Model */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Presentation */
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  /* Font */
  /* Animation */
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s; }

.sidebar-menu {
  /* Positioning */
  width: 240px;
  height: 100%;
  top: 0;
  left: 0;
  /* Display & Box Model */
  display: block;
  margin: 0;
  padding: 0;
  /* Presentation */
  background: #ffffff;
  /* Font */
  /* Animation */ }
  .sidebar-menu > li {
    /* Positioning */
    width: 80px;
    height: 80px;
    float: left;
    /* Display & Box Model */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    /* Presentation */
    list-style: none;
    /* Font */
    /* Animation */ }
    .sidebar-menu > li [type=radio] {
      display: none; }
    .sidebar-menu > li [type=radio]:checked ~ label {
      background: white;
      border-bottom: 1px solid white;
      z-index: 2; }
    .sidebar-menu > li [type=radio]:checked ~ label ~ .content {
      z-index: 1; }
    .sidebar-menu > li [type=radio]:checked ~ label ~ .content > * {
      opacity: 1;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0); }
    .sidebar-menu > li label {
      /* Positioning */
      width: 100%;
      height: 100%;
      /* Display & Box Model */
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      /* Presentation */
      background: #f1f1f1;
      cursor: pointer;
      /* Font */
      line-height: 80px;
      text-align: center;
      font-family: "ratio";
      color: #999999;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: .2em;
      /* Animation */ }
      .sidebar-menu > li label:hover {
        background: #e7e7e7; }
      .sidebar-menu > li label:target {
        background: #ffffff; }
    .sidebar-menu > li .content {
      /* Positioning */
      position: absolute;
      top: 80px;
      left: 0;
      width: 240px;
      right: 0;
      bottom: 0;
      padding: 20px;
      /* Display & Box Model */
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      list-style: none;
      margin: 0;
      padding: 0;
      /* Presentation */
      background: white;
      overflow-x: hidden;
      overflow-y: scroll;
      /* Font */
      /* Animation */ }
      .sidebar-menu > li .content > li {
        display: block;
        list-style: none;
        width: 100%; }

li.sidebar-menu-sub-list-week {
  /* Positioning */
  /* Display & Box Model */
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  /* Presentation */
  /* Font */
  /* Animation */ }
  li.sidebar-menu-sub-list-week > a {
    /* Positioning */
    /* Display & Box Model */
    display: block;
    padding: 10px;
    /* Presentation */
    /* Font */
    text-align: center;
    font-family: "ratio";
    color: #999999;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    /* Animation */ }
  li.sidebar-menu-sub-list-week > ul {
    /* Positioning */
    /* Display & Box Model */
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0; }
    li.sidebar-menu-sub-list-week > ul > li a {
      /* Positioning */
      /* Display & Box Model */
      display: block;
      padding: 20px;
      /* Presentation */
      /* Font */
      font-family: "ratio";
      color: #bfbfbf;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 16px;
      text-decoration: none;
      letter-spacing: .1em;
      /* Animation */ }
      li.sidebar-menu-sub-list-week > ul > li a:hover {
        color: #999999; }
      li.sidebar-menu-sub-list-week > ul > li a.active {
        /* Positioning */
        /* Display & Box Model */
        /* Presentation */
        background: #ffae41;
        /* Font */
        color: #ffffff;
        font-size: 16px;
        /* Animation */ }

li.sidebar-menu-sub-list-week.prev, li.sidebar-menu-sub-list-week.next {
  /* Positioning */
  left: 0;
  width: 100%;
  /* Display & Box Model */
  /* Presentation */
  background: #e4e4e4;
  overflow: hidden;
  /* Font */
  /* Animation */
  z-index: 1; }

li.sidebar-menu-sub-list-week.prev {
  max-height: 0px;
  top: 0; }

li.sidebar-menu-sub-list-week.next {
  max-height: 40px;
  bottom: 0; }
