.profile {
  @include box-sizing;
  position:relative;
  z-index:1;
  width:300px;
  background:#666666;
  min-height:100%;
  float:left;
  font-family:"ratio";
  color:#dedede;
  height:100%;
  // overflow-y:scroll;
  h3.name {
    display:block;
    text-align:center;
    margin:10px auto;
    padding:5px 40px;
    color:#ffffff;
  }
  p.subtitle {
    margin:0 40px 20px;
    font-weight:200;
  }
}
.profile-image {
  display:block;
  border-radius:75px;
  margin:40px auto 15px auto;
}
.profile-stat {
  display:block;
  &:nth-child(even) {margin:10px 10px 10px 40px;}
  &:nth-child(odd) {margin:10px 40px 10px 10px;}
  // margin:10px 40px;
  // border-top:dotted #dedede 1px;
  padding:0px 0 15px 0;
  width:90px;
  float:left;
  border-bottom:solid 5px #787878;
  @include box-sizing;
  .profile-stat-num {
    font-weight:100;
    font-size:48px;
    margin:0;
  }
  .profile-stat-cap {
    margin:0;
    font-weight:400;
    font-size:11px;
    text-transform:uppercase;
    color:#b0b0b0;
  }
}

.profile-buttons {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  a {
    @include box-sizing;
    position:relative;
    display:block;
    margin:5px;
    text-decoration:none;
    padding:10px 20px;
    color:#909090;
    background:#565656;
    &:hover {
      color:#d6d6d6;
      background:#808088;
    }
  }
}


.dashboard-title {
  position:relative;
  overflow:hidden;
  // top:0;
  // left:0;
  z-index:2;
  margin-left:300px;
  padding:5px 20px 5px 20px;
  // width:100%;
  height:40px;
  background:$sepia;
  color:#ffffff;
  line-height:40px;
  text-align:center;
  text-transform:uppercase;
  letter-spacing:2px;
  font-weight:100;
  font-size:14px;
}
.dashboard {
  @include box-sizing;
  position: absolute;
  top:0;
  left:0;
  overflow-x: hidden;
  overflow-y: scroll;
  margin:0;
  padding:50px 0 0 300px;
  width: 100%;
  height:100%;
  background:#dddddd;
  list-style: none;

  -webkit-perspective: 400px;
     -moz-perspective: 400px;
      -ms-perspective: 400px;
       -o-perspective: 400px;
          perspective: 400px;
}

.dashboard-day {
  @include box-sizing;
  position:relative;
  display:block;
  clear:both;
  padding:4px;
  height:80px;
  background:#efefef;
  &.active {
    background:#f9f9f9;
  }
  &.empty {
    // display:none;
    background:#e6e6e6;
    .dashboard-blurb {color:#bebebe;}
  }
  &:hover {
    background:#ffffff;
    .dashboard-date {
      @include box-shadow(0 3px 0 $orange);
    }
  }
  &.disabled {
    background:#e6e6e6;
    .dashboard-blurb { opacity:.25; cursor:default; }
    .dashboard-date { opacity:.5; @include box-shadow(0 3px 0 rgba(0,0,0,0.1));}
  }
  &.first-of-month + li {
    &::before{
      position:absolute;
      z-index:9;
      top:-10px;
      left:0;
      display:block;
      padding-left:20px;
      width:100%;
      height:20px;
      background:#cdcdcd;
      color:#ffffff;
      content:attr(data-month);
      text-transform:uppercase;
      letter-spacing:1px;
      font-weight:900;
      font-size:10px;
      line-height:20px;
    }
  }
  &.img {
    &::after{
      content:"";
      width:12px;
      height:12px;
      position:absolute;
      top:34px;
      right:14px;
      background:$orange;
      border-radius:6px;
    }
  }

}
  .dashboard-image {
    display:none;
    float:left;
    clear:left;
  }
  .dashboard-date{
    position:relative;
    pointer-events:none;
    float:left;
    margin:20px;
    width:40px;
    height:40px;
    background:#ffffff;
    text-align:center;
    @include box-shadow(0 3px 0 rgba(0,0,0,0.1));
  }
    .dashboard-date-month {
      display:block;
      padding:5px 3px 0px;
      color:#cdcdcd;
      text-transform:uppercase;
      letter-spacing:1px;
      font-weight:900;
      font-size:9px;
    }
    .dashboard-date-day{
      position:relative;
      top:-2px;
      color:#666666;
      font-weight:900;
      font-size:24px;
    }
  .dashboard-blurb {
    display:block;
    overflow-x:hidden;
    color:#666666;
    text-decoration:none;
    white-space: nowrap;
    font-weight:400;
    font-family: "ratio";
    line-height:80px;
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,1),  rgba(0,0,0,1) 82%, rgba(0,0,0,0) 95%);
    span {
      display:inline-block;
      margin-right:10px;
      color:#ababab;
      &::after {
        display:inline-block;
        padding-left:10px;
        color:$orange;
        content:"/";
      }
    }
  }