/* ==========================================================================
   Colors
   ========================================================================== */

$bg: #FCF9F5;
$orange: #ffae41;
$hover: #f1f1f1;
$text: #666666;
$sepia: #ff905a;

$borange: #ff905a;
  $borange-high: #ffbf4d;
  $borange-shad: #F46640;
$yellow: #ffc157;
  $yellow-high: #ffea85;
  $yellow-shad: #f9a243;
$green: #25b399;
  $green-high: #53ecce;
  $green-shad: #1ea574;
$blue: #50b7e3;
  $blue-high: #63e7ea;
  $blue-shad: #3697d8;
$red: #f56d85;
  $red-high: #ff8fbd;
  $red-shad: #ed4f4f;

$grey1: #312b2c;
$grey2: #443f41;
$grey3: #726d6e;
$grey4: #e5e1e1;

$break-sm: 320px;
$break-md: 768px;
$break-lg: 1200px;


/* ==========================================================================
   Helpers & Mixins
   ========================================================================== */

@mixin prefix ( $property, $value... ) {
  -webkit-#{$property}: $value;
     -moz-#{$property}: $value;
      -ms-#{$property}: $value;
       -o-#{$property}: $value;
          #{$property}: $value;
}

@mixin gradient($color1, $color2) {
background: $color1; /* Old browsers */
background: -moz-linear-gradient(-45deg, $color1 0%, $color2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, $color1 0%,$color2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, $color1 0%,$color2 100%); /* IE10+ */
background: linear-gradient(135deg, $color1 0%,$color2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin animation($args...) {
  @include prefix( animation, $args... );
}

@mixin transform($args...) {
  @include prefix( transform, $args... );
}
@mixin transform-origin($args...) {
  @include prefix( transform-origin, $args... );
}

@mixin box-shadow($args) {
  @include prefix( box-shadow, $args );
}

@mixin accelerate {
  // Enable 3D transforms, activating hardware acceleration
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  // Fixing flickering bug
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  // Some bug fix, I forget why this is in here.
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;
}

@mixin filter($args) {
  -webkit-filter: $args;
  -moz-filter: $args;
  -o-filter: $args;
  -ms-filter: $args;
  filter: $args;
}

@mixin box-sizing($value:border-box) {
  // Box sizing makes padding and margins inclusive of declared width/height
  @include prefix( box-sizing, $value );
}

@mixin background-image-retina($file, $type, $width, $height) {
  // If on retina device, load retina image as background.
  background-image: url($file + '.' + $type);
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background-image: url($file + '@2x.' + $type);
      @include prefix( background-size, $width $height );

    }
  }
}

@mixin transition($args...) {
  @include prefix( transition, $args... );
}

@mixin transform($args...) {
  @include prefix( transform, $args... );
}

.opaque {opacity:1;}
.left {float:left !important;}
.right {float:right !important;}

.smallcaps {
    text-transform:uppercase;
    letter-spacing:.2em;
    font-weight:400;
    font-size:12px;
    font-family:"ratio";
}



.fadeIn{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn; 

  animation-duration: .5s; 
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   

  visibility: visible !important; 
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;   
  }
  100% {
    opacity: 1; 
  }   
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.0;   
  }
  100% {
    opacity: 1; 
  }   
}

