.landing-hero {
  background:$grey1;
  color:#ffffff;
  border-top:4px solid $green;
}
  .landing-hero-top{
    overflow:hidden;
  }
    .landing-hero-top-logo {
      display:block;
      float:left;
      margin:40px;
      padding:0;
      width:30px;
      height:40px;
      a {
        display:block;
        padding:0;
        width:100%;
        height:100%;
        background:url(/img/logo.svg);
        text-indent:-9999em;
      }
    }
    .landing-hero-top-login {
      float:right;
      overflow:hidden;
      margin:40px;
      width:374px;
      height:40px;
    }

  .landing-hero-main{
    clear:both;
    padding:0 40px 80px;
    p {
      @include text-h1;
      .landing-hero-main-link {
        border-color:$yellow;
        border-bottom:2px solid $yellow;
        color:#ffffff;
        text-decoration:none;
        &:hover {border-color:$yellow-high;color:$yellow-high;}
        &.capture { border-color:$green;
          &:hover { border-color:$green-high;color:$green-high; }
        }
        &.catalogue { border-color:$red;
          &:hover { border-color:$red-high;color:$red-high; }
        }
        &.remember { border-color:$blue;
          &:hover { border-color:$blue-high;color:$blue-high; }
        }
      }
    }
  }
      .landing-hero-main-email {
        float:left;
        label {display:none;}
        input {
          @include input-default;
          padding:17px 20px 18px;
          width:240px;
        }
      }
      .landing-hero-main-cta {
        @include button-large;
      }

#login {
  display:block;
  label {display:none;}
  input {
    @include input-default;
    display:inline-block;
    float:left;
  }
  button {
    @include button-default;
    display:inline-block;
    float:left;
  }
}


.landing-body {
  @include text-paragraph;
  position:relative;
  background:#ffffff;
  text-align:center;
  padding:20px 0 80px 0;
  img {
    max-width:60%;
    margin-bottom:24px;
  }
  p,h2 {
    max-width:60%;
    margin:0 auto;
    margin-bottom: 24px;
  }
  h2 {
    @include text-smallcaps;
    margin-top: 36px;
    font-weight:200;
    color:$grey3;
  }
  p {
    font-weight:300;text-align:left;
  }
}
  .landing-body-tout {
    @include prefix(border-radius,70px);
    position:absolute;
    right:15%;
    display:table;
    overflow:hidden;
    width:140px;
    height:140px;
    background:$red-high;
    color:#ffffff;
    span {
      @include text-smallcaps;
      display:table-cell;
      padding:25px;
      vertical-align:middle;
      text-align:left;
    }
  }


#mc_embed_signup {
  label {display:none;}
  input {
    @include input-default;
  }

  #mc-embedded-subscribe {
    @include button-default;
  }
}