
#profile {
  background:#ffffff;
  overflow:hidden;
}

.profile-outro {
  @include text-feature;
  text-align:center;
  color:$grey4;
  width:66%;
  margin:200px auto 200px;
  span{color:$grey2;}
}


/* ==========================================================================
   Profile Header
   ========================================================================== */


.profile-header {
  width:100%;
  background:$grey1;
  color:#ffffff;
  text-align:center;
  padding:40px 0;
}
  .profile-header-img {
    width:120px;
    height:120px;
    border-radius:60px;
  }
  .profile-header-title {
    @include text-h1;
      margin:1em 0 8px 0;
  }
  .profile-header-subtitle {
    @include text-subtitle;
    margin:0 0 1em 0;
    color: $grey3;
  }

/* ==========================================================================
   Profile Stats
   ========================================================================== */

.profile-stats {
  width:100%;
  overflow:hidden;
}
  .profile-stats-4 {
    position:relative;
    display:block;
    float:left;
    width:24.9%;
    height:180px;
    @media screen and (max-width: $break-md) {
      width:49.8%;height:120px;
      .profile-stats-img {margin:20px 0;}
      .profile-stats-num {margin:35px 0 0 0;}
    }
    @media screen and (max-width: $break-sm) {
      width:100%;height:140px;padding-top:10px;
    }
  }
    .profile-stats-img {
      position:relative;
      border-left:$grey4 1px solid;
      margin:50px 0;
      padding-left:10%;
      width:30%;
      float:left;
      height:80px;
    }
    .profile-stats-num {
      @include text-h1;
      margin:60px 0 0 0;
      color:$grey1;
      overflow-x:hidden;
      overflow-y:visible;
    }
    .profile-stats-cap {
      @include text-subtitle;
      margin:0;
      color:$grey4;
      font-size:12px;
      overflow-x:hidden;
      overflow-y:visible;
    }
.profile-stats-4.completion {
  .profile-stats-img{
    .bar {position:relative; overflow:hidden; margin-right:12px; height:80px; width:10px; float:right; background:lighten($green,40%);}
    .fillbar {
      position:absolute; 
      width:10px; 
      height:80px; 
      top:79px; 
      left:0; 
      background:$green; 
      @include transition(top .8s);
      &.start{top:80px !important;}
    }
  }
}
.profile-stats-4.total {
  .profile-stats-img {
    .columns{
      // @include prefix(column-gap,2px);
      // @include prefix(column-count,6);
      // line-height:12px;
      position:relative;
      margin-right:12px;
      height:80px;
    }
    .block{
      position:absolute;
      display: block;
      vertical-align: bottom;
      width:8px;
      height:8px;
      background:$blue; 
      float:right;
      @include prefix(transform-origin,left bottom);
      @include transition(all .8s); 
      &.start {
        bottom:0;
        opacity:.1;
      }
    }
  }
}

@for $i from 0 through 7 {
  .block:nth-child(#{$i+1}) {
    right:0;
    bottom:$i*10px;
  }
}
@for $i from 8 through 15 {
  .block:nth-child(#{$i+1}) {
    right:10px;
    bottom:($i - 8)*10px;
  }
}
@for $i from 16 through 23 {
  .block:nth-child(#{$i+1}) {
    right:20px;
    bottom:($i - 16)*10px;
  }
}
@for $i from 24 through 31 {
  .block:nth-child(#{$i+1}) {
    right:30px;
    bottom:($i - 24)*10px;
  }
}
@for $i from 32 through 39 {
  .block:nth-child(#{$i+1}) {
    right:40px;
    bottom:($i - 32)*10px;
  }
}

.profile-stats-4 {
  .triangle {
    position:absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12.5px 0 12.5px 15px;
    border-color: transparent transparent transparent $yellow;
    top:50%;
    margin-top:-12.5px;
    @include transition(right .8s);
    &.one {right:12px;}
    &.two {right:22px;}
    &.three {right:32px;}
    &.start {right:12px;}
  }
}
.profile-stats-4.beststreak .triangle {
  border-color: transparent transparent transparent $red;
}

/* ==========================================================================
   Profile Grid
   ========================================================================== */


$rowHeight: 180px;
$columnWidth: 25%;
.profile-grid {
  width:100%;
  // max-height:$rowHeight*2;
  /* Prevent vertical gaps */
  overflow:hidden;
  background:darken($grey4,10%);
  @include transition(max-height 2s);
}
  .profile-grid-stories {

    &:before {
      right:-1em;
      display: inline-block;
      height: 100%;
      content: '';
      vertical-align: middle;
    }

    &::after {
      @include transition(opacity .3s);
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      z-index:0;
      background-color:$yellow;
      content:"";
      opacity:0;
      pointer-events:none;
    }

    @include prefix(transform-style,preserve-3d);
    @include prefix(transition,all .5s);
    @include prefix(transform-origin,50% 100%);
    @include gradient(#ffffff,mix(#ffffff,$grey4));
    position:relative;
    display:block;
    float:left;
    overflow:hidden;
    width:$columnWidth;
    height:$rowHeight;
    text-align:center;
    line-height:normal;
    color:$grey1;
    text-decoration:none;

    &.alt-1{@include gradient($borange,mix($borange,$borange-shad,75%));color:#ffffff;}
    &.alt-2{@include gradient($grey4,mix($grey4,$grey3,95%))}
    &.alt-3{@include gradient(#ffffff,mix(#ffffff,$grey4))}
    &.alt-4{@include gradient($grey2,mix($grey2,$grey1,75%));color:#ffffff;}
    &.alt-5{background:$green;color:$green-high}

    &.large{height:$rowHeight*2;
      .profile-grid-stories-story {max-height:7em}
    }
    &.wide{width:$columnWidth*2;height:$rowHeight*2; 
      .profile-grid-stories-story {font-size:32px;}
    }
    &.img{color:#ffffff;@include gradient($grey2,mix($grey2,$grey1,75%));}

    &:hover:not(.no-hover) {
      .profile-grid-stories-story {color:$yellow-high;}
      .profile-grid-stories-date {opacity:1;top:50%;}
      &::after {
        opacity:.85;
      }
    }
    &.giant-clone{
    }



    @media screen and (max-width: $break-md) {
      width:50%;
      height:$rowHeight;
      &.wide,&.large{width:100%; height:$rowHeight*1.5} 
      .profile-grid-stories-story{font-size:24px}
    }
    @media screen and (max-width: $break-sm) {
      width:100%;
      height:$rowHeight;
      &.wide,&.large{
        height:$rowHeight;
        .profile-grid-stories-story{font-size:24px;}
      } 
      .profile-grid-stories-story{font-size:24px;}
        &:not(.story) {
          .profile-grid-stories-date {
            top:8px !important;
            left:0;
            width:100%;
            text-align:center;
            height:auto;
            margin:0;
            opacity:1;
            background:none;
            .profile-grid-stories-date-month{
              margin:0;
              font-size:13px;
              display:inline;
            }
            .profile-grid-stories-date-date{
              margin:0;
              font-size:13px;
              display:inline;
              color:inherit;
            }
          }
        }
    }
    @media screen and (min-width: $break-lg) {
      font-size:22px;
      width:20%;
      height:$rowHeight*1.5;
      &.wide,&.large{height:$rowHeight*3;}
    }

  }
    .profile-grid-stories-img {
      position:absolute;
      left:-5px;
      top:-5px;
      right:-5px;
      bottom:-5px;
      z-index:0;
      img {
        @include accelerate;
        @include transition(all .5s);
        @include filter(blur(6px));
        @include transform(scale(4.2));
        filter:(url(/img/blur.svg#blur));
        height:100%;
        width:100%;
      }
    }
    .profile-grid-stories-story {
      @include transition(font-size .5s);
      @include text-feature;
      position:relative;
      z-index:2;
      display:inline-block;
      overflow:hidden;
      // max-height: 4.7em;
      width:80%;
      vertical-align: middle;
      text-align:center;
      text-overflow: ellipsis;
      font-size:24px;
    }
    .profile-grid-stories-date {
      position:absolute;
      z-index:2;
      display:block;
      width:100px;
      height:100px;
      background:url(/img/calendar.svg);
      left:50%;
      top:52%;
      margin:-50px 0 0 -50px;
      opacity:0;
      @include transition(top .5s, transform .5s);

    }
      .profile-grid-stories-date-month{
        @include text-smallcaps;
        color:$yellow;
        margin: 20px 0 0 0;
      }
      .profile-grid-stories-date-date{
        @include text-smallcaps;
        color:$grey3;
        margin:0;
        font-size:32px;
      }
.profile-grid-more {
  @include text-smallcaps;
  @include background-image-retina('/img/more-shadow',png,800px,50px);
  @include transition(all .3s);
  @include prefix(box-shadow, 0px -10px 10px rgba(0,0,0,.15));
  position:relative;
  display:block;
  z-index:2;
  margin:0 0 20px 0;
  width:100%;
  height:100px; 
  background-position:50% 75px;
  background-repeat:no-repeat;
  color:$grey1;
  text-align:center;
  line-height:80px;
  text-decoration:none;
  opacity:.5;
  &.less{
    @include prefix(box-shadow, 0px 0px 20px rgba(0,0,0,.10));
    background-image:none;
    height:81px;    
    &.fixed{
      position: fixed;
      bottom: 0px;
      margin-bottom:0;
      background: #ffffff;
      opacity: 1;
      @include transition(all 0s);
    }
  }
  &:hover{
    color:$yellow;
    background-position:50% 80px;
    opacity:1;
  }
}





@-webkit-keyframes OpenTop {
  25% { 
    margin-top:30px;
    -webkit-transform: rotateX(-20deg); 
    -webkit-animation-timing-function: ease; 
  }
}

@-moz-keyframes OpenTop {
  25% { 
    margin-top:30px;
    -moz-transform: rotateX(-20deg); 
    -moz-animation-timing-function: ease; 
  }
}

@keyframes OpenTop {
  25% { 
    margin-top:30px;
    transform: rotateX(-20deg); 
    animation-timing-function: ease; 
  }
}
