/* ==========================================================================
   Colors
   ========================================================================== */
/*** Config ***/
/* Colors */
/* used for row 1 & 2 */
/* used for row 1 & 2 */
/* Dimensions */
@-webkit-keyframes border-loading-indicator-row-2 {
  0% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); }

  25% {
    border-color: rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5); }

  50% {
    border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25); }

  75% {
    border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.75); }

  100% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); } }

@-ms-keyframes border-loading-indicator-row-2 {
  0% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); }

  25% {
    border-color: rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5); }

  50% {
    border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25); }

  75% {
    border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.75); }

  100% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); } }

@-o-keyframes border-loading-indicator-row-2 {
  0% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); }

  25% {
    border-color: rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5); }

  50% {
    border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25); }

  75% {
    border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.75); }

  100% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); } }

@-moz-keyframes border-loading-indicator-row-2 {
  0% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); }

  25% {
    border-color: rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5); }

  50% {
    border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25); }

  75% {
    border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.75); }

  100% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); } }

@-keyframes border-loading-indicator-row-2 {
  0% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); }

  25% {
    border-color: rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5); }

  50% {
    border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25); }

  75% {
    border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.75); }

  100% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); } }

.border-loading-indicator {
  width: 0px;
  height: 0px;
  position: absolute;
  margin: -10px 0 -10px;
  border: 0px solid white;
  border-width: 10px 10px; }

.border-loading-indicator.row-2 {
  top: 75%;
  animation: border-loading-indicator-row-2 750ms linear infinite; }

.border-loading-indicator.col-3 {
  width: 0px;
  height: 0px;
  left: 75%;
  border-radius: 10px 10px 10px 10px; }

/* ==========================================================================
   Helpers & Mixins
   ========================================================================== */
.opaque {
  opacity: 1; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.smallcaps {
  font-family: "ratio";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 12px; }

/* ==========================================================================
   Global styles
   ========================================================================== */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%; }

body {
  background: #fcf9f5;
  overflow: hidden; }

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0; }
  .bg.loading + .bg-loader {
    opacity: 1; }

.bg-loader {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  content: "";
  width: 0px;
  height: 0px;
  border: 0px solid white;
  border-width: 50px 50px;
  width: 0px;
  height: 0px;
  -webkit-animation: border-loading-indicator-row-2 750ms linear infinite;
  -moz-animation: border-loading-indicator-row-2 750ms linear infinite;
  -ms-animation: border-loading-indicator-row-2 750ms linear infinite;
  -o-animation: border-loading-indicator-row-2 750ms linear infinite;
  animation: border-loading-indicator-row-2 750ms linear infinite;
  border-radius: 50px 50px 50px 50px;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.bg-image {
  /* Positioning */
  position: absolute;
  width: 20%;
  height: 20%;
  z-index: -2;
  top: 0;
  left: 0;
  /* Presentation */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  /* Animation */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;
  -webkit-filter: grayscale(10%) blur(12px);
  -moz-filter: grayscale(10%) blur(12px);
  -o-filter: grayscale(10%) blur(12px);
  -ms-filter: grayscale(10%) blur(12px);
  filter: grayscale(10%) blur(12px);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scale(5);
  -moz-transform: scale(5);
  -ms-transform: scale(5);
  -o-transform: scale(5);
  transform: scale(5);
  filter: url(/img/blur.svg#blur); }

.nav {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 50%;
  width: 48px;
  height: 100%;
  margin-left: -24px;
  z-index: 0;
  overflow: hidden; }
  .nav .nav-up, .nav .nav-dn {
    /* Positioning */
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 48px;
    width: 48px;
    /* Display & Box Model */
    display: block;
    /* Presentation */
    background: transparent url(/img/arrow.svg) center no-repeat;
    border: 1px solid #ffae41;
    overflow: hidden;
    border-radius: 24px;
    /* Font */
    text-indent: -999em; }
  .nav .nav-up {
    top: -48px; }
  .nav .nav-dn {
    bottom: -48px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

#login-buttons {
  position: absolute;
  right: 20px;
  z-index: 999; }

/* ==========================================================================
   Journal
   ========================================================================== */
/* Positioning */
/* Display & Box Model */
/* Presentation */
/* Font */
/* Animation */
.dummy {
  /* Positioning */
  position: absolute;
  width: 100%;
  height: auto;
  left: -99999px;
  /* Display & Box Model */
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 40px 0;
  padding: 0 20px;
  /* Presentation */
  background: red;
  outline: none;
  /* Font */
  color: #666666;
  font-family: "ratio";
  font-weight: 300;
  font-size: 42px; }

#journal {
  /* Positioning */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* Display & Box Model */
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 20px solid #ffffff;
  /* Presentation */
  color: #666666;
  overflow: hidden;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s; }
  #journal #story {
    /* Positioning */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Display & Box Model */
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 40px 0;
    padding: 0 20px;
    /* Presentation */
    background: transparent;
    opacity: 0;
    resize: none;
    border: none;
    outline: none;
    /* Font */
    color: inherit;
    font-family: "ratio";
    font-weight: 300;
    font-size: 42px;
    /* Firefox 18- */
    /* Firefox 19+ */
    /* Animation */
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    perspective: 1000;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    -ms-perspective: 1000;
    -webkit-transition: padding 0.8s;
    -moz-transition: padding 0.8s;
    -ms-transition: padding 0.8s;
    -o-transition: padding 0.8s;
    transition: padding 0.8s; }
    #journal #story::-webkit-input-placeholder {
      opacity: .5 !important; }
    #journal #story:-moz-placeholder {
      opacity: .5 !important; }
    #journal #story::-moz-placeholder {
      opacity: .5 !important; }
    #journal #story:-ms-input-placeholder {
      opacity: .5 !important; }
  #journal .media {
    /* Positioning */
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2; }
    #journal .media .media-image {
      /* Positioning */
      width: 16px;
      height: 16px;
      /* Display & Box Model */
      display: block;
      /* Presentation */
      text-indent: -9999em;
      overflow: hidden;
      background-image: url("/img/icons.png");
      background-position: 0 0;
      opacity: .25;
      -webkit-transition: opacity 0.25s;
      -moz-transition: opacity 0.25s;
      -ms-transition: opacity 0.25s;
      -o-transition: opacity 0.25s;
      transition: opacity 0.25s; }
      @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        #journal .media .media-image {
          background-image: url("/img/icons@2x.png");
          -webkit-background-size: 96px 32px;
          -moz-background-size: 96px 32px;
          -ms-background-size: 96px 32px;
          -o-background-size: 96px 32px;
          background-size: 96px 32px; } }
      #journal .media .media-image:hover {
        opacity: .5; }
      #journal .media .media-image.attached {
        opacity: 1;
        background-position: 0 -16px; }
      #journal .media .media-image.attached:hover {
        /* Need a style here... */ }
  #journal .controls {
    /* Positioning */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    /* Display & Box Model */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px; }
    #journal .controls .controls-menu {
      /* Positioning */
      float: left;
      height: 36px;
      /* Display & Box Model */
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 0 0 36px;
      /* Presentation */
      background: #ffffff;
      overflow: hidden;
      -webkit-transition: max-width 1s;
      -moz-transition: max-width 1s;
      -ms-transition: max-width 1s;
      -o-transition: max-width 1s;
      transition: max-width 1s; }
      #journal .controls .controls-menu .controls-menu-date {
        /* Positioning */
        float: left;
        height: 36px;
        /* Display & Box Model */
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px 16px;
        /* Presentation */
        background: #f1f1f1;
        /* Font */
        color: #666666;
        font-family: "ratio";
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .2em;
        font-size: 12px;
        text-decoration: none; }
    #journal .controls .controls-save {
      /* Positioning */
      position: relative;
      float: right;
      height: 36px;
      width: 160px;
      /* Display & Box Model */
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px 0 0;
      margin: 0 0 0 5px;
      /* Presentation */
      background-color: #ffae41;
      /* Font */
      color: #ffffff;
      font-family: "ratio";
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: .2em;
      font-size: 12px;
      text-align: center;
      text-decoration: none;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      -ms-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s;
      -webkit-transition: color 0.2s;
      -moz-transition: color 0.2s;
      -ms-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s; }
    #journal .controls .controls-save.loading {
      background-color: #ffb95b;
      color: rgba(255, 255, 255, 0.15); }
    #journal .controls .controls-save.loading::after {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -10px;
      margin-top: -10px;
      content: "";
      width: 0px;
      height: 0px;
      border: 0px solid white;
      border-width: 10px 10px;
      -webkit-animation: border-loading-indicator-row-2 750ms linear infinite;
      -moz-animation: border-loading-indicator-row-2 750ms linear infinite;
      -ms-animation: border-loading-indicator-row-2 750ms linear infinite;
      -o-animation: border-loading-indicator-row-2 750ms linear infinite;
      animation: border-loading-indicator-row-2 750ms linear infinite;
      width: 0px;
      height: 0px;
      border-radius: 10px 10px 10px 10px; }
    #journal .controls .controls-share {
      /* Positioning */
      float: right;
      position: relative;
      height: 36px;
      width: 36px;
      /* Display & Box Model */
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      /* Presentation */
      background: #ffffff;
      overflow: hidden;
      /* Font */
      text-indent: -9999em; }
    #journal .controls .controls-share-icon {
      display: block;
      /* Positioning */
      height: 20px;
      width: 21px;
      margin-left: 4px;
      margin-top: 7px;
      opacity: .2;
      background-image: url("/img/lock.png");
      -webkit-transition: margin-left 0.8s;
      -moz-transition: margin-left 0.8s;
      -ms-transition: margin-left 0.8s;
      -o-transition: margin-left 0.8s;
      transition: margin-left 0.8s; }
      @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        #journal .controls .controls-share-icon {
          background-image: url("/img/lock@2x.png");
          -webkit-background-size: 399px 20px;
          -moz-background-size: 399px 20px;
          -ms-background-size: 399px 20px;
          -o-background-size: 399px 20px;
          background-size: 399px 20px; } }
    #journal .controls .controls-share-icon.lock {
      background-position: 0 0 !important; }
      #journal .controls .controls-share-icon.lock.animate {
        -webkit-animation: lock 0.4s steps(18) 1;
        -moz-animation: lock 0.4s steps(18) 1;
        -ms-animation: lock 0.4s steps(18) 1;
        -o-animation: lock 0.4s steps(18) 1;
        animation: lock 0.4s steps(18) 1; }
    #journal .controls .controls-share-icon.unlock {
      background-position: -378px 0 !important;
      margin-left: 8px; }
      #journal .controls .controls-share-icon.unlock.animate {
        -webkit-animation: unlock 0.4s steps(19) 1;
        -moz-animation: unlock 0.4s steps(19) 1;
        -ms-animation: unlock 0.4s steps(19) 1;
        -o-animation: unlock 0.4s steps(19) 1;
        animation: unlock 0.4s steps(19) 1; }
    #journal .controls .controls-share-buttons {
      font-family: "ratio";
      position: relative;
      font-size: 11px;
      float: right;
      clear: both;
      margin-top: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      width: 201px;
      padding: 20px;
      background: #666666;
      color: #ffffff;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -ms-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s; }
      #journal .controls .controls-share-buttons .after {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none; }
      #journal .controls .controls-share-buttons .after {
        border-color: rgba(0, 0, 0, 0);
        border-bottom-color: #666666;
        border-width: 5px;
        left: 18px;
        margin-left: -5px; }
      #journal .controls .controls-share-buttons label {
        font-family: inherit;
        font-size: 11px;
        color: #888888; }
      #journal .controls .controls-share-buttons input {
        outline: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 5px 10px;
        line-height: 24px;
        font-family: "ratio";
        font-weight: 300;
        color: #d8d8d8;
        background: #888888;
        border: 1px solid #888888;
        border: none;
        font-size: 14px;
        margin-bottom: 20px; }
        #journal .controls .controls-share-buttons input:focus {
          border: 1px solid #ffae41;
          padding: 4px 9px; }
      #journal .controls .controls-share-buttons .controls-share-buttons-social {
        color: #e1e1e1;
        text-decoration: none;
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        width: 75px;
        line-height: 28px;
        height: 28px;
        padding-left: 20px;
        position: relative;
        -webkit-transition: background 0.2s;
        -moz-transition: background 0.2s;
        -ms-transition: background 0.2s;
        -o-transition: background 0.2s;
        transition: background 0.2s; }
        #journal .controls .controls-share-buttons .controls-share-buttons-social::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 6px;
          width: 16px;
          height: 16px;
          opacity: .25;
          background: no-repeat top left url(/img/fb.png);
          -webkit-background-size: 16px 16px;
          -moz-background-size: 16px 16px;
          -ms-background-size: 16px 16px;
          -o-background-size: 16px 16px;
          background-size: 16px 16px;
          -webkit-transition: opacity 0.5s;
          -moz-transition: opacity 0.5s;
          -ms-transition: opacity 0.5s;
          -o-transition: opacity 0.5s;
          transition: opacity 0.5s; }
        #journal .controls .controls-share-buttons .controls-share-buttons-social.fb {
          margin-right: 10px; }
          #journal .controls .controls-share-buttons .controls-share-buttons-social.fb::after {
            background-image: url(/img/fb.png); }
        #journal .controls .controls-share-buttons .controls-share-buttons-social.tw::after {
          background-image: url(/img/tw.png); }
        #journal .controls .controls-share-buttons .controls-share-buttons-social:hover {
          color: #ffffff; }
          #journal .controls .controls-share-buttons .controls-share-buttons-social:hover::after {
            opacity: .5; }

@-webkit-keyframes unlock {
  from {
    background-position: 0px; }

  to {
    background-position: -399px; } }

@-webkit-keyframes lock {
  from {
    background-position: -378px; }

  to {
    background-position: 0px; } }

@-ms-keyframes unlock {
  from {
    background-position: 0px; }

  to {
    background-position: -399px; } }

@-ms-keyframes lock {
  from {
    background-position: -378px; }

  to {
    background-position: 0px; } }

@-o-keyframes unlock {
  from {
    background-position: 0px; }

  to {
    background-position: -399px; } }

@-o-keyframes lock {
  from {
    background-position: -378px; }

  to {
    background-position: 0px; } }

@-moz-keyframes unlock {
  from {
    background-position: 0px; }

  to {
    background-position: -399px; } }

@-moz-keyframes lock {
  from {
    background-position: -378px; }

  to {
    background-position: 0px; } }

@-keyframes unlock {
  from {
    background-position: 0px; }

  to {
    background-position: -399px; } }

@-keyframes lock {
  from {
    background-position: -378px; }

  to {
    background-position: 0px; } }

/* ==========================================================================
   Sidebar
   ========================================================================== */
/* Positioning */
/* Display & Box Model */
/* Presentation */
/* Font */
/* Animation */
#sidebar {
  /* Positioning */
  position: absolute;
  width: 240px;
  height: 100%;
  left: -270px;
  top: 0;
  z-index: 3;
  /* Display & Box Model */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Presentation */
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  /* Font */
  /* Animation */
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s; }

.sidebar-menu {
  /* Positioning */
  width: 240px;
  height: 100%;
  top: 0;
  left: 0;
  /* Display & Box Model */
  display: block;
  margin: 0;
  padding: 0;
  /* Presentation */
  background: #ffffff;
  /* Font */
  /* Animation */ }
  .sidebar-menu > li {
    /* Positioning */
    width: 80px;
    height: 80px;
    float: left;
    /* Display & Box Model */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    /* Presentation */
    list-style: none;
    /* Font */
    /* Animation */ }
    .sidebar-menu > li [type=radio] {
      display: none; }
    .sidebar-menu > li [type=radio]:checked ~ label {
      background: white;
      border-bottom: 1px solid white;
      z-index: 2; }
    .sidebar-menu > li [type=radio]:checked ~ label ~ .content {
      z-index: 1; }
    .sidebar-menu > li [type=radio]:checked ~ label ~ .content > * {
      opacity: 1;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0); }
    .sidebar-menu > li label {
      /* Positioning */
      width: 100%;
      height: 100%;
      /* Display & Box Model */
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      /* Presentation */
      background: #f1f1f1;
      cursor: pointer;
      /* Font */
      line-height: 80px;
      text-align: center;
      font-family: "ratio";
      color: #999999;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: .2em;
      /* Animation */ }
      .sidebar-menu > li label:hover {
        background: #e7e7e7; }
      .sidebar-menu > li label:target {
        background: #ffffff; }
    .sidebar-menu > li .content {
      /* Positioning */
      position: absolute;
      top: 80px;
      left: 0;
      width: 240px;
      right: 0;
      bottom: 0;
      padding: 20px;
      /* Display & Box Model */
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      list-style: none;
      margin: 0;
      padding: 0;
      /* Presentation */
      background: white;
      overflow-x: hidden;
      overflow-y: scroll;
      /* Font */
      /* Animation */ }
      .sidebar-menu > li .content > li {
        display: block;
        list-style: none;
        width: 100%; }

li.sidebar-menu-sub-list-week {
  /* Positioning */
  /* Display & Box Model */
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  /* Presentation */
  /* Font */
  /* Animation */ }
  li.sidebar-menu-sub-list-week > a {
    /* Positioning */
    /* Display & Box Model */
    display: block;
    padding: 10px;
    /* Presentation */
    /* Font */
    text-align: center;
    font-family: "ratio";
    color: #999999;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    /* Animation */ }
  li.sidebar-menu-sub-list-week > ul {
    /* Positioning */
    /* Display & Box Model */
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 210px; }
    li.sidebar-menu-sub-list-week > ul > li {
      display: block;
      float: left;
      width: 30px;
      height: 42px;
      position: relative;
      margin: 6px 0;
      padding: 0;
      border-bottom: 1px solid #efefef;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      li.sidebar-menu-sub-list-week > ul > li a {
        /* Positioning */
        /* Display & Box Model */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 34px;
        height: 34px;
        margin: -2px 0 0 -2px;
        /* Presentation */
        border-radius: 17px;
        /* Font */
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #cccccc;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 13px;
        text-decoration: none;
        letter-spacing: .1em;
        line-height: 34px;
        /* Animation */
        -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
        -ms-transition: color 0.2s;
        -o-transition: color 0.2s;
        transition: color 0.2s; }
        li.sidebar-menu-sub-list-week > ul > li a.story {
          font-weight: 600; }
        li.sidebar-menu-sub-list-week > ul > li a:hover {
          color: #999999; }
        li.sidebar-menu-sub-list-week > ul > li a.active {
          /* Positioning */
          /* Display & Box Model */
          /* Presentation */
          /* Font */
          color: #ffae41;
          /* Animation */ }
        li.sidebar-menu-sub-list-week > ul > li a.disabled {
          color: #efefef; }
      li.sidebar-menu-sub-list-week > ul > li .hasImg {
        /* Positioning */
        position: absolute;
        width: 4px;
        height: 4px;
        /* Display & Box Model */
        display: block;
        top: 28px;
        left: 50%;
        margin: -2px;
        /* Presentation */
        text-indent: -9999em;
        overflow: hidden;
        background: #cccccc;
        border-radius: 2px; }
        li.sidebar-menu-sub-list-week > ul > li .hasImg.active {
          background: #ffae41; }

li.sidebar-menu-sub-list-week.prev, li.sidebar-menu-sub-list-week.next {
  /* Positioning */
  left: 0;
  width: 100%;
  /* Display & Box Model */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  /* Presentation */
  overflow: hidden;
  /* Font */
  /* Animation */
  z-index: 1; }
  li.sidebar-menu-sub-list-week.prev a, li.sidebar-menu-sub-list-week.next a {
    /* Display & Box Model */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: #f1f1f1;
    margin: 15px;
    padding: 10px 20px;
    font-size: 14px; }
    li.sidebar-menu-sub-list-week.prev a:hover, li.sidebar-menu-sub-list-week.next a:hover {
      background: #e4e4e4; }

/* ==========================================================================
   Filepicker
   ========================================================================== */
#filepicker_shade {
  background: none !important; }

#filepicker_dialog_container {
  border: none !important;
  box-shadow: none !important; }
