/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
   Helpers & Mixins
   ========================================================================== */
.opaque {
  opacity: 1; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.smallcaps {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 400;
  font-size: 12px;
  font-family: "ratio"; }

/* ==========================================================================
   Global styles
   ========================================================================== */
body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%; }

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #fcf9f5;
  color: #312b2c; }

.bg {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%; }
  .bg.loading + .bg-loader {
    opacity: 1; }

.bg-image {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 20%;
  height: 20%;
  /* Presentation */
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  /* Animation */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;
  -webkit-filter: grayscale(10%) blur(12px);
  -moz-filter: grayscale(10%) blur(12px);
  -o-filter: grayscale(10%) blur(12px);
  -ms-filter: grayscale(10%) blur(12px);
  filter: grayscale(10%) blur(12px);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scale(5);
  -moz-transform: scale(5);
  -ms-transform: scale(5);
  -o-transform: scale(5);
  transform: scale(5);
  filter: url(/img/blur.svg#blur); }

.nav {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  overflow: hidden;
  margin-left: -24px;
  width: 48px;
  height: 100%; }
  .nav .nav-up, .nav .nav-dn {
    /* Positioning */
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 48px;
    width: 48px;
    /* Display & Box Model */
    display: block;
    /* Presentation */
    overflow: hidden;
    border: 1px solid #ffae41;
    border-radius: 24px;
    background: transparent url(/img/arrow.svg) center no-repeat;
    /* Font */
    text-indent: -999em; }
  .nav .nav-up {
    top: -48px; }
  .nav .nav-dn {
    bottom: -48px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

#login-buttons {
  position: absolute;
  right: 20px;
  z-index: 999; }

#login {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  height: 500px;
  padding: 200px 80px 80px;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -ms-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s; }
  #login #login-form, #login #account-form {
    display: block;
    width: 50%;
    float: left; }

/* ==========================================================================
   Text styles
   ========================================================================== */
/* ==========================================================================
   Loader styles
   ========================================================================== */
/*** Config ***/
/* Colors */
/* used for row 1 & 2 */
/* used for row 1 & 2 */
/* Dimensions */
@-webkit-keyframes border-loading-indicator-row-2 {
  0% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); }

  25% {
    border-color: rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5); }

  50% {
    border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25); }

  75% {
    border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.75); }

  100% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); } }

@-ms-keyframes border-loading-indicator-row-2 {
  0% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); }

  25% {
    border-color: rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5); }

  50% {
    border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25); }

  75% {
    border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.75); }

  100% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); } }

@-o-keyframes border-loading-indicator-row-2 {
  0% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); }

  25% {
    border-color: rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5); }

  50% {
    border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25); }

  75% {
    border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.75); }

  100% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); } }

@-moz-keyframes border-loading-indicator-row-2 {
  0% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); }

  25% {
    border-color: rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5); }

  50% {
    border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25); }

  75% {
    border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.75); }

  100% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); } }

@-keyframes border-loading-indicator-row-2 {
  0% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); }

  25% {
    border-color: rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5); }

  50% {
    border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) white rgba(255, 255, 255, 0.25); }

  75% {
    border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.75); }

  100% {
    border-color: white rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.75); } }

.border-loading-indicator {
  width: 0px;
  height: 0px;
  position: absolute;
  margin: -10px 0 -10px;
  border: 0px solid white;
  border-width: 10px 10px; }

.border-loading-indicator.row-2 {
  top: 75%;
  animation: border-loading-indicator-row-2 750ms linear infinite; }

.border-loading-indicator.col-3 {
  width: 0px;
  height: 0px;
  left: 75%;
  border-radius: 10px 10px 10px 10px; }

.bg-loader {
  -webkit-animation: border-loading-indicator-row-2 750ms linear infinite;
  -moz-animation: border-loading-indicator-row-2 750ms linear infinite;
  -ms-animation: border-loading-indicator-row-2 750ms linear infinite;
  -o-animation: border-loading-indicator-row-2 750ms linear infinite;
  animation: border-loading-indicator-row-2 750ms linear infinite;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 0px;
  height: 0px;
  border: 0px solid white;
  border-width: 50px 50px;
  border-radius: 50px 50px 50px 50px;
  content: "";
  opacity: 0; }

.landing-hero {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 40px;
  width: 100%;
  min-height: 100%;
  background: #efefef; }
  .landing-hero h1 {
    display: block;
    margin: 0;
    padding: 40px;
    color: #cecece;
    font-weight: 800;
    font-size: 24px;
    font-family: "ratio"; }
  .landing-hero p {
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -ms-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
    position: relative;
    display: block;
    margin: 0;
    padding: 40px;
    color: #666666;
    font-weight: 300;
    font-size: 48px;
    font-family: "ratio"; }
    .landing-hero p a.cta {
      /* Positioning */
      height: 36px;
      width: 160px;
      /* Display & Box Model */
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px 0 0;
      margin: 20px 0;
      /* Presentation */
      background-color: #ffae41;
      /* Font */
      color: #ffffff;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: .2em;
      font-weight: 400;
      font-size: 12px;
      font-family: "ratio";
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      -ms-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s;
      -webkit-transition: color 0.2s;
      -moz-transition: color 0.2s;
      -ms-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s; }

.landing-hero-example {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 80px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 0 80px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 80px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.05);
  -webkit-transform: perspective(1000px) rotateX(-30deg) translateZ(-180px) translateY(100px);
  -moz-transform: perspective(1000px) rotateX(-30deg) translateZ(-180px) translateY(100px);
  -ms-transform: perspective(1000px) rotateX(-30deg) translateZ(-180px) translateY(100px);
  -o-transform: perspective(1000px) rotateX(-30deg) translateZ(-180px) translateY(100px);
  transform: perspective(1000px) rotateX(-30deg) translateZ(-180px) translateY(100px);
  position: relative;
  margin: 80px auto;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  width: 800px;
  height: 600px;
  border: 20px solid #ffffff;
  background: #fcf9f5;
  color: #cecece;
  font-weight: 300;
  font-size: 36px;
  font-family: "ratio";
  line-height: 520px;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -webkit-transform 1s;
  -ms-transition: -webkit-transform 1s;
  -o-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s; }
  .landing-hero-example.active {
    -webkit-transform: perspective(1000px) rotateX(0deg) translateZ(0px) translateY(0px);
    -moz-transform: perspective(1000px) rotateX(0deg) translateZ(0px) translateY(0px);
    -ms-transform: perspective(1000px) rotateX(0deg) translateZ(0px) translateY(0px);
    -o-transform: perspective(1000px) rotateX(0deg) translateZ(0px) translateY(0px);
    transform: perspective(1000px) rotateX(0deg) translateZ(0px) translateY(0px); }

/* ==========================================================================
   Journal
   ========================================================================== */
/* Positioning */
/* Display & Box Model */
/* Presentation */
/* Font */
/* Animation */
.dummy {
  /* Positioning */
  position: absolute;
  left: -99999px;
  width: 100%;
  height: auto;
  /* Display & Box Model */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 0 20px;
  /* Presentation */
  background: red;
  outline: none;
  /* Font */
  color: #666666;
  font-weight: 300;
  font-size: 42px;
  font-family: "ratio"; }

.details {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 30px 20px 0;
  height: 60px;
  background: #ffffff;
  line-height: 30px; }
  .details .profile-image {
    position: relative;
    margin: -10px 15px 0 0;
    float: left;
    border-radius: 25px; }
  .details .button {
    float: right;
    margin-left: 10px; }

.journal-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 60px 0 0 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -ms-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s; }
  .journal-wrapper.edit {
    margin-top: 0; }

#journal {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Display & Box Model */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border: 20px solid #ffffff;
  /* Presentation */
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  overflow: hidden;
  color: #666666; }

#story {
  /* Positioning */
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* Display & Box Model */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 0 40px;
  /* Presentation */
  outline: none;
  border: none;
  background: transparent;
  opacity: 0;
  resize: none;
  /* Font */
  text-align: center;
  color: inherit;
  font-weight: 300;
  font-size: 42px;
  font-family: "ratio";
  /* Firefox 18- */
  /* Firefox 19+ */
  /* Animation */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;
  -webkit-transition: padding-top 0.8s;
  -moz-transition: padding-top 0.8s;
  -ms-transition: padding-top 0.8s;
  -o-transition: padding-top 0.8s;
  transition: padding-top 0.8s; }
  #story::-webkit-input-placeholder {
    opacity: .5 !important; }
  #story:-moz-placeholder {
    opacity: .5 !important; }
  #story::-moz-placeholder {
    opacity: .5 !important; }
  #story:-ms-input-placeholder {
    opacity: .5 !important; }
  #story.long {
    padding: 140px 140px 70px;
    padding-top: 140px !important;
    min-width: 300px;
    font-size: 24px;
    line-height: 34px;
    text-align: left; }

.media {
  /* Positioning */
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 2; }
  .media .media-image {
    /* Positioning */
    width: 16px;
    height: 16px;
    /* Display & Box Model */
    display: block;
    /* Presentation */
    text-indent: -9999em;
    overflow: hidden;
    background-image: url("/img/icons.png");
    background-position: 0 0;
    opacity: .25;
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s; }
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      .media .media-image {
        background-image: url("/img/icons@2x.png");
        -webkit-background-size: 96px 48px;
        -moz-background-size: 96px 48px;
        -ms-background-size: 96px 48px;
        -o-background-size: 96px 48px;
        background-size: 96px 48px; } }
    .media .media-image:hover {
      opacity: .5; }
    .media .media-image.attached {
      opacity: 1;
      background-position: 0 -16px; }
    .media .media-image.attached:hover {
      /* Need a style here... */ }

.controls-save {
  /* Positioning */
  position: absolute;
  z-index: 9;
  height: 36px;
  width: 160px;
  bottom: 40px;
  left: 50%;
  /* Display & Box Model */
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0 0;
  margin-left: -80px;
  /* Presentation */
  background-color: #ffae41;
  /* Font */
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 400;
  font-size: 12px;
  font-family: "ratio";
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s; }

.controls-save.loading {
  background-color: #ffb95b;
  color: rgba(255, 255, 255, 0.15); }

.controls-save.loading::after {
  -webkit-animation: border-loading-indicator-row-2 750ms linear infinite;
  -moz-animation: border-loading-indicator-row-2 750ms linear infinite;
  -ms-animation: border-loading-indicator-row-2 750ms linear infinite;
  -o-animation: border-loading-indicator-row-2 750ms linear infinite;
  animation: border-loading-indicator-row-2 750ms linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  width: 0px;
  height: 0px;
  border: 0px solid white;
  border-width: 10px 10px;
  content: "";
  border-radius: 10px 10px 10px 10px; }

.controls-date {
  position: absolute;
  left: 50%;
  margin: 40px -20px 0;
  width: 40px;
  height: 40px;
  background: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0 3px 0 #ffae41;
  -moz-box-shadow: 0 3px 0 #ffae41;
  -ms-box-shadow: 0 3px 0 #ffae41;
  -o-box-shadow: 0 3px 0 #ffae41;
  box-shadow: 0 3px 0 #ffae41; }

.controls-date-month {
  display: block;
  padding: 5px 3px 0px;
  color: #cdcdcd;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 9px; }

.controls-date-day {
  position: relative;
  top: -2px;
  color: #666666;
  font-weight: 900;
  font-size: 24px; }

/* ==========================================================================
   Sidebar
   ========================================================================== */
/* Positioning */
/* Display & Box Model */
/* Presentation */
/* Font */
/* Animation */
#sidebar {
  /* Positioning */
  position: absolute;
  top: 0;
  left: -270px;
  z-index: 3;
  width: 240px;
  height: 100%;
  /* Display & Box Model */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Presentation */
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  /* Font */
  /* Animation */
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s; }

.sidebar-menu {
  /* Positioning */
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  /* Display & Box Model */
  display: block;
  margin: 0;
  padding: 0;
  /* Presentation */
  background: #ffffff;
  /* Font */
  /* Animation */ }
  .sidebar-menu > li {
    /* Positioning */
    float: left;
    width: 80px;
    height: 80px;
    /* Display & Box Model */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    /* Presentation */
    list-style: none;
    /* Font */
    /* Animation */ }
    .sidebar-menu > li [type=radio] {
      display: none; }
    .sidebar-menu > li [type=radio]:checked ~ label {
      z-index: 2;
      border-bottom: 1px solid white;
      background: white; }
    .sidebar-menu > li [type=radio]:checked ~ label ~ .content {
      z-index: 1; }
    .sidebar-menu > li [type=radio]:checked ~ label ~ .content > * {
      opacity: 1;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0); }
    .sidebar-menu > li label {
      /* Positioning */
      width: 100%;
      height: 100%;
      /* Display & Box Model */
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      /* Presentation */
      background: #f1f1f1;
      cursor: pointer;
      /* Font */
      color: #999999;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .2em;
      font-size: 12px;
      font-family: "ratio";
      line-height: 80px;
      /* Animation */ }
      .sidebar-menu > li label:hover {
        background: #e7e7e7; }
      .sidebar-menu > li label:target {
        background: #ffffff; }
    .sidebar-menu > li .content {
      /* Positioning */
      position: absolute;
      top: 80px;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 20px;
      width: 240px;
      /* Display & Box Model */
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      list-style: none;
      /* Presentation */
      overflow-x: hidden;
      overflow-y: scroll;
      background: white;
      /* Font */
      /* Animation */ }
      .sidebar-menu > li .content > li {
        display: block;
        list-style: none;
        width: 100%; }

li.sidebar-menu-sub-list-week {
  /* Positioning */
  /* Display & Box Model */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  /* Presentation */
  /* Font */
  /* Animation */ }
  li.sidebar-menu-sub-list-week > a {
    /* Positioning */
    /* Display & Box Model */
    display: block;
    padding: 10px;
    /* Presentation */
    /* Font */
    color: #999999;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    font-family: "ratio";
    /* Animation */ }
  li.sidebar-menu-sub-list-week > ul {
    /* Positioning */
    /* Display & Box Model */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 210px;
    list-style: none; }
    li.sidebar-menu-sub-list-week > ul > li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      display: block;
      float: left;
      margin: 6px 0;
      padding: 0;
      width: 30px;
      height: 42px;
      border-bottom: 1px solid #efefef; }
      li.sidebar-menu-sub-list-week > ul > li a {
        /* Positioning */
        /* Display & Box Model */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        margin: -2px 0 0 -2px;
        width: 34px;
        height: 34px;
        /* Presentation */
        border-radius: 17px;
        /* Font */
        color: #cccccc;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-weight: 300;
        font-size: 13px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 34px;
        /* Animation */
        -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
        -ms-transition: color 0.2s;
        -o-transition: color 0.2s;
        transition: color 0.2s; }
        li.sidebar-menu-sub-list-week > ul > li a.story {
          font-weight: 600; }
        li.sidebar-menu-sub-list-week > ul > li a:hover {
          color: #999999; }
        li.sidebar-menu-sub-list-week > ul > li a.active {
          /* Positioning */
          /* Display & Box Model */
          /* Presentation */
          /* Font */
          color: #ffae41;
          /* Animation */ }
        li.sidebar-menu-sub-list-week > ul > li a.disabled {
          color: #efefef; }
      li.sidebar-menu-sub-list-week > ul > li .hasImg {
        /* Positioning */
        position: absolute;
        top: 28px;
        left: 50%;
        width: 4px;
        height: 4px;
        /* Display & Box Model */
        display: block;
        margin: -2px;
        /* Presentation */
        overflow: hidden;
        border-radius: 2px;
        background: #cccccc;
        text-indent: -9999em; }
        li.sidebar-menu-sub-list-week > ul > li .hasImg.active {
          background: #ffae41; }

li.sidebar-menu-sub-list-week.prev, li.sidebar-menu-sub-list-week.next {
  /* Positioning */
  left: 0;
  width: 100%;
  /* Display & Box Model */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  /* Presentation */
  overflow: hidden;
  /* Font */
  /* Animation */
  z-index: 1; }
  li.sidebar-menu-sub-list-week.prev a, li.sidebar-menu-sub-list-week.next a {
    /* Display & Box Model */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 15px;
    padding: 10px 20px;
    background: #f1f1f1;
    font-size: 14px; }
    li.sidebar-menu-sub-list-week.prev a:hover, li.sidebar-menu-sub-list-week.next a:hover {
      background: #e4e4e4; }

.profile {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  width: 300px;
  background: #666666;
  min-height: 100%;
  float: left;
  font-family: "ratio";
  color: #dedede;
  height: 100%; }
  .profile h3.name {
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 5px 40px;
    color: #ffffff; }
  .profile p.subtitle {
    margin: 0 40px 20px;
    font-weight: 200; }

.profile-image {
  display: block;
  border-radius: 75px;
  margin: 40px auto 15px auto; }

.profile-stat {
  display: block;
  padding: 0px 0 15px 0;
  width: 90px;
  float: left;
  border-bottom: solid 5px #787878;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .profile-stat:nth-child(even) {
    margin: 10px 10px 10px 40px; }
  .profile-stat:nth-child(odd) {
    margin: 10px 40px 10px 10px; }
  .profile-stat .profile-stat-num {
    font-weight: 100;
    font-size: 48px;
    margin: 0; }
  .profile-stat .profile-stat-cap {
    margin: 0;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #b0b0b0; }

.profile-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  .profile-buttons a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: block;
    margin: 5px;
    text-decoration: none;
    padding: 10px 20px;
    color: #909090;
    background: #565656; }
    .profile-buttons a:hover {
      color: #d6d6d6;
      background: #808088; }

.dashboard-title {
  position: relative;
  overflow: hidden;
  z-index: 2;
  margin-left: 300px;
  padding: 5px 20px 5px 20px;
  height: 40px;
  background: #ff905a;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 14px; }

.dashboard {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 50px 0 0 300px;
  width: 100%;
  height: 100%;
  background: #dddddd;
  list-style: none;
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  -o-perspective: 400px;
  perspective: 400px; }

.dashboard-day {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: block;
  clear: both;
  padding: 4px;
  height: 80px;
  background: #efefef; }
  .dashboard-day.active {
    background: #f9f9f9; }
  .dashboard-day.empty {
    background: #e6e6e6; }
    .dashboard-day.empty .dashboard-blurb {
      color: #bebebe; }
  .dashboard-day:hover {
    background: #ffffff; }
    .dashboard-day:hover .dashboard-date {
      -webkit-box-shadow: 0 3px 0 #ffae41;
      -moz-box-shadow: 0 3px 0 #ffae41;
      -ms-box-shadow: 0 3px 0 #ffae41;
      -o-box-shadow: 0 3px 0 #ffae41;
      box-shadow: 0 3px 0 #ffae41; }
  .dashboard-day.disabled {
    background: #e6e6e6; }
    .dashboard-day.disabled .dashboard-blurb {
      opacity: .25;
      cursor: default; }
    .dashboard-day.disabled .dashboard-date {
      opacity: .5;
      -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1); }
  .dashboard-day.first-of-month + li::before {
    position: absolute;
    z-index: 9;
    top: -10px;
    left: 0;
    display: block;
    padding-left: 20px;
    width: 100%;
    height: 20px;
    background: #cdcdcd;
    color: #ffffff;
    content: attr(data-month);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 10px;
    line-height: 20px; }
  .dashboard-day.img::after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 34px;
    right: 14px;
    background: #ffae41;
    border-radius: 6px; }

.dashboard-image {
  display: none;
  float: left;
  clear: left; }

.dashboard-date {
  position: relative;
  pointer-events: none;
  float: left;
  margin: 20px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1); }

.dashboard-date-month {
  display: block;
  padding: 5px 3px 0px;
  color: #cdcdcd;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 9px; }

.dashboard-date-day {
  position: relative;
  top: -2px;
  color: #666666;
  font-weight: 900;
  font-size: 24px; }

.dashboard-blurb {
  display: block;
  overflow-x: hidden;
  color: #666666;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 400;
  font-family: "ratio";
  line-height: 80px;
  -webkit-mask-image: -webkit-linear-gradient(left, black, black 82%, rgba(0, 0, 0, 0) 95%); }
  .dashboard-blurb span {
    display: inline-block;
    margin-right: 10px;
    color: #ababab; }
    .dashboard-blurb span::after {
      display: inline-block;
      padding-left: 10px;
      color: #ffae41;
      content: "/"; }

/* ==========================================================================
   Profile
   ========================================================================== */
#profile {
  background: #ffffff; }

.profile-header {
  width: 100%;
  background: #312b2c;
  color: #ffffff;
  text-align: center;
  padding: 40px 0; }

.profile-header-img {
  width: 120px;
  height: 120px;
  border-radius: 60px; }

.profile-header-title {
  font-family: "ratio";
  font-weight: 100;
  font-size: 42px;
  margin: 1em 0 8px 0; }

.profile-header-subtitle {
  font-family: "rooney-web";
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 1em 0;
  color: #726d6e; }

.profile-stats {
  width: 100%;
  overflow: hidden; }

.profile-stats-4 {
  display: block;
  float: left;
  width: 24.9%;
  height: 180px; }
  @media screen and (max-width: 768px) {
    .profile-stats-4 {
      width: 49.8%;
      height: 120px; }
      .profile-stats-4 .profile-stats-img {
        margin: 20px 0; }
      .profile-stats-4 .profile-stats-num {
        margin: 35px 0 0 0; } }

.profile-stats-img {
  border-left: #e5e1e1 1px solid;
  margin: 50px 0;
  padding-left: 10%;
  width: 30%;
  float: left;
  height: 80px; }

.profile-stats-num {
  font-family: "ratio";
  font-weight: 100;
  font-size: 42px;
  margin: 60px 0 0 0;
  color: #312b2c; }

.profile-stats-cap {
  font-family: "rooney-web";
  font-weight: 400;
  font-size: 14px;
  margin: 1em 0;
  color: #e5e1e1;
  font-size: 12px; }

.profile-grid {
  width: 100%;
  /* Prevent vertical gaps */
  overflow: hidden;
  background: #312b2c; }

.profile-grid-stories {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  width: 24.9%;
  height: 180px;
  background: #ffffff;
  text-align: center;
  line-height: normal;
  cursor: pointer; }
  .profile-grid-stories:before {
    right: -1em;
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle; }
  @media screen and (max-width: 768px) {
    .profile-grid-stories {
      width: 49.8%; } }
  @media screen and (max-width: 320px) {
    .profile-grid-stories {
      width: 100%; }
      .profile-grid-stories.wide {
        width: 100%;
        height: 180px; } }
  @media screen and (min-width: 1200px) {
    .profile-grid-stories {
      height: 270px; }
      .profile-grid-stories.wide {
        height: 540px; } }
  .profile-grid-stories.alt-1 {
    background: #ff905a;
    color: #ffffff; }
  .profile-grid-stories.alt-2 {
    background: #e5e1e1; }
  .profile-grid-stories.alt-3 {
    background: #ffffff; }
  .profile-grid-stories.alt-4 {
    background: #443f41;
    color: #ffffff; }
  .profile-grid-stories.alt-5 {
    background: #25b399;
    color: #53ecce; }
  .profile-grid-stories.large {
    height: 360px; }
  .profile-grid-stories.wide {
    width: 49.8%;
    height: 360px; }
    .profile-grid-stories.wide .profile-grid-stories-story {
      font-size: 32px;
      padding: 100px 40px; }
  .profile-grid-stories.img {
    color: #ffffff; }
  .profile-grid-stories:hover .profile-grid-stories-story {
    color: #ffffff; }
  .profile-grid-stories:hover .profile-grid-stories-date {
    opacity: 1;
    top: 50%; }
  .profile-grid-stories:hover::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #ffc157;
    content: "";
    opacity: .85; }

.profile-grid-stories-img {
  position: absolute;
  left: -5px;
  top: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 0;
  -webkit-filter: blur(5px); }
  .profile-grid-stories-img img {
    height: 100%;
    width: 100%; }

.profile-grid-stories-story {
  position: relative;
  z-index: 2;
  display: inline-block;
  overflow: hidden;
  width: 80%;
  line-height: 1.2em;
  text-overflow: ellipsis;
  max-height: 4.9em;
  vertical-align: middle;
  text-align: center;
  font-weight: 100;
  font-size: 24px;
  font-family: "ratio"; }

.profile-grid-stories-date {
  position: absolute;
  z-index: 2;
  display: block;
  width: 100px;
  height: 100px;
  background: url(/img/calendar.svg);
  left: 50%;
  top: 52%;
  margin: -50px 0 0 -50px;
  opacity: 0;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -ms-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s; }

.profile-grid-stories-date-month {
  font-family: "futura-pt",Arial;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  color: #ffc157;
  margin: 20px 0 0 0; }

.profile-grid-stories-date-date {
  font-family: "futura-pt",Arial;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  color: #726d6e;
  margin: 0;
  font-size: 32px; }

/* ==========================================================================
   Filepicker
   ========================================================================== */
#filepicker_shade {
  background: none !important; }

#filepicker_dialog_container {
  border: none !important;
  box-shadow: none !important; }
