<template name="landing">
  <div id="landing">
    <div class="landing-hero">
      <div class="landing-hero-top">
        <h1 class="landing-hero-top-logo">
          <a href="/">Besterday</a>
        </h1>
        <div class="landing-hero-top-login">
          {{> login}}
        </div>
      </div>
      <div class="landing-hero-main">
        <p>What is <a href="#" class="landing-hero-main-link">Besterday</a>?</p>
        <p>Besterday helps you <a href="#" class="landing-hero-main-link capture">capture</a>, <a href="#" class="landing-hero-main-link catalogue">catalogue</a>, and <a href="#" class="landing-hero-main-link remember">remember</a> the best part of your day, everyday.</p>


        <div class="landing-hero-main-email">
          <!-- Username -->
          <label class="control-label"  for="email">Email</label>
          <div class="controls">
            <input type="text" id="email" name="email" placeholder="Email" class="input-xlarge">
          </div>
        </div>
        <button class="landing-hero-main-cta">Sign up</a>

      </div>
    </div>

  <div class="landing-body">

    <div class="landing-body-tout">
      <span>Mobile version coming soon</span>
    </div>
    <img src="/img/promo.jpg" alt="Promo"/>

  </div>

  {{> footer }}
</template>