<template name="signup">
  <form id="signup" class="fadeIn">
    <h3>Just a few more details&hellip;</h3>
    <div class="signup-wrapper">
    <div class="control-group">
      <label class="contol-label" for="username">Username</label>
      <div class="controls">
        <input type="text" id="username" name="username" placeholder="Username" class="input-xlarge">
      </div>

      <label class="contol-label" for="display">Display Name</label>
      <div class="controls">
        <input type="text" id="display" name="display" placeholder="Display Name" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <label class="contol-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="Password" class="input-xlarge">
      </div>

      <label class="contol-label" for="confirm">Confirm</label>
      <div class="controls">
        <input type="password" id="confirm" name="confirm" placeholder="Confirm" class="input-xlarge">
      </div>
    </div>

    </div>
    <div class="control-submit">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Create your account</button>
      </div>
    </div>
  </form>
</template>