<template name="journal">

  {{#constant}}
  <div class="dummy"></div>  
  {{/constant}}
    {{#if owner}}
  <div class="nav">
    <a class="nav-up" href="#">Previous</a>
    <a class="nav-dn" href="#">Next</a>
  </div>
    {{/if}}

  <div id="journal">
    {{#if owner}}
      {{> story story }}
      {{> postControls story }}
    {{else}}
      {{#if story.public}}
        {{> story story }}
        {{> shared story }}
      {{else}}
        <div class="notice">Sorry, this story is not public.</div>
      {{/if}}
      <a href="/"><h1>Besterday</h1></a>
    {{/if}}
  </div>

</template>


<template name="story">

  <textarea style="opacity:0" {{#if owner}} {{else}}disabled {{/if}}autofocus id="story" name="story" placeholder="What was the best thing that happened to you {{prettyDate}}?">{{text}}</textarea>

</template>

<template name="postControls">
    <div class="media">
        <a class="media-image {{#if img}}attached{{/if}}" href="#" alt="Upload Pictures">Upload Picture</a>
    </div>
    <div class="controls">
      <a class="controls-menu" href="#"><span class="controls-menu-date">{{prettyDate}}</span></a>
      {{#constant}}<a class="controls-save" href="#">Autosave</a>{{/constant}}
      <a class="controls-share" href="#">
        <div class="controls-share-icon {{#if public}}unlock{{/if}}">Share</div>
      </a>
    </div>
</template>

<template name="shared">
  <div class="shared">
    <p class="shared-intro">
      {{displayName}} has shared a story with you.
    </p>
  </div>
</template>