<template name="journal">

  {{#constant}}
  <div class="dummy"></div>  
  {{/constant}}
  {{#if owner}}
    <div class="nav">
      <a class="nav-up" href="#">Previous</a>
      <a class="nav-dn" href="#">Next</a>
    </div>

    {{#unless edit}}
      {{> details story}}
    {{/unless}}

  {{else}}
    {{> shared story }}

  {{/if}}


  <div class="journal-wrapper{{#if edit}} edit{{/if}}">

    <div id="journal">
      {{#if owner}}
        {{> story story }}
        {{#if edit}}
          {{> postControls story }}
        {{/if}}
      {{else}}
        {{#if story.public}}
          {{> story story }}
        {{else}}
          <div class="notice">Sorry, this story is not public.</div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>


<template name="story">

  <div class="controls-date">
    <span class="controls-date-month">{{month}}</span>
    <span class="controls-date-day">{{day}}</span>
  </div>

  <textarea style="opacity:0" {{#if long}}class="long" {{/if}}{{#unless edit}}disabled {{/unless}}autofocus id="story" name="story" placeholder="What was the best thing that happened to you {{prettyDate}}?">{{text}}</textarea>

</template>

<template name="postControls">
    <div class="media">
      <a class="media-image {{#if img}}attached{{/if}}" href="#" alt="Upload Pictures">Upload Picture</a>
    </div>
    <div class="controls">

    {{#constant}}<a class="controls-save" href="#">Done</a>{{/constant}}
      <!-- <a class="controls-share" href="#">
        <div class="controls-share-icon {{#if public}}unlock{{/if}}">Share</div>
      </a>
      {{#if public}}
      <div class="controls-share-buttons">
        <label for="share-url">Link to this Besterday</label>
        <input class="controls-share-buttons-link" name="share-url" type="text" value="{{formattedUrl}}" />
        <a href="#" class="controls-share-buttons-copy">
          <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                  width="110"
                  height="14"
                  id="clippy" >
          <param name="movie" value="/clippy.swf"/>
          <param name="allowScriptAccess" value="always" />
          <param name="quality" value="high" />
          <param name="scale" value="noscale" />
          <param NAME="FlashVars" value="text={{formattedUrl}}">
          <param name="bgcolor" value="#888888">
          <embed src="/clippy.swf"
                 width="110"
                 height="16"
                 name="clippy"
                 quality="high"
                 allowScriptAccess="always"
                 type="application/x-shockwave-flash"
                 pluginspage="http://www.macromedia.com/go/getflashplayer"
                 FlashVars="text={{formattedUrl}}"
                 bgcolor="#888888"
          />
          </object>
        </a>
        <label>Share on your social networks</label>
        <a href="#" class="controls-share-buttons-social fb">Facebook</a>
        <a href="#" class="controls-share-buttons-social tw">Twitter</a>
      </div>
      {{/if}} -->
    </div>
</template>


<template name="details">
  <div class="details">

    <img class="profile-image" src="http://placehold.it/50x50" />
    <a href="/{{screenName}}">{{displayName}}</a>'s besterday.
    <a class="pure-button button edit" href="#">Edit</a>
    <a class="pure-button button share" href="#">Share</a>
  </div>
</template>

<template name="shared">
  <div class="details">

    <img class="profile-image" src="http://placehold.it/50x50" />
    <a href="/{{screenName}}">{{displayName}}</a>'s besterday. <a href="/">What's a besterday?</a>
    <a class="pure-button button make" href="/">Make your own.</a>
  </div>
</template>