<template name="profile_stats">
  <div class="profile-stats">
    <div class="profile-stats-4 completion">
      <p class="profile-stats-num">{{completion}}</p>
      <p class="profile-stats-cap">completion rate</p>
    </div>
    <div class="profile-stats-4 total">
      <p class="profile-stats-num">{{total}}</p>
      <p class="profile-stats-cap">total besterdays</p>
    </div>
    <div class="profile-stats-4 currstreak">
      <p class="profile-stats-num">{{currstreak}}</p>
      <p class="profile-stats-cap">current streak</p>
    </div>
    <div class="profile-stats-4 beststreak">
      <p class="profile-stats-num">{{beststreak}}</p>
      <p class="profile-stats-cap">best streak</p>
    </div>

    {{#if detail}}
      {{> profile_stats_detail}}
    {{/if}}

  </div>
</template>
























<template name="profile_stats_detail">

    <div class="profile-stats-detail">
      <div class="profile-stats-1 length">
        <h3>
          <span>Your average post length this month is {{monthAvg}} words.</span>
          <span>That's {{monthDelta}} more than last month.
        </h3>
      </div>
    </div>
</template>