<template name="profile">

  {{#if isOwner}}
    {{> profile_menu}}
  {{else}}
    {{> profile_top}}
  {{/if}}
  <div id="profile" class="page">
    {{> profile_header}}
    {{> profile_stats}}

    {{> profile_gridmenu}}

      <div class="profile-grid">

        <div class="profile-grid-inner">
        </div>

      </div>
      <a class="profile-grid-more" href="#">Show more&hellip;</a>

    <h2 class="profile-outro">
      Go ahead. Have the best day of your life.<br />
      <span>See you tomorrow!</span>
    </h2>

  </div>

    {{#isolate}}
      {{#if expandedStory}}
        {{> storytime}}
      {{/if}}
    {{/isolate}}

</template>